{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/cadastro-empresa.css' %}">
{% endblock %}

{% block 'titulo' %}
    Vitrine Digital | Cadastrar minha empresa
{% endblock %}

{% block 'conteudo'%}

    <main>
        <div class="main-scrollable">
            <section class="detalhes">
                <div class="container">
                    <h2>Cadastre sua loja</h2>
                    <div class="preco-funcionamento">
                        <div class="preco">
                            <div>
                                <span class="preco-mensal">R$ 19,90<span>/mês</span></span>
                                <span class="preco-anual">ou R$ 191,00/ano: economize 20%</span>
                            </div>

                            <ul>
                                <!-- Ícone check -->
                                <li><img src="" alt=""><span>Perfil da empresa com produtos e destaques</span></li>
                                <!-- Ícone check -->
                                <li><img src="" alt=""><span>Dados estetísticos de popularidade do perfil</span></li>
                                
                            </ul>
                        </div>
                        
                        <div class="como-funciona">
                            <h3>Como funciona?</h3>
                            <p>Após o envio do <a href="#form-cadastro">formulário de cadastro</a> abaixo, analisaremos seu pedido e, quando aprovado, você receberá um e-mail contendo o link para o local do pagamento. Completado o pagamento, o perfil da sua loja será ativado em até 24 horas.</p>
                        </div>
                    </div>
                </div>
            </section>

            {% if messages %}
                {% for i in messages %}   
                    <div class="alert {{i.tags}}" role="alert">
                        {{i}} 
                    </div>
        
                {% endfor %}
            {% endif %}

            <section id="form-cadastro">
                <div class="container">
                    <form
                        method="POST"
                        action="{% url 'valida_cadastro_empresa' %}"
                    >
                        {% csrf_token %}

                        <div class="titulo-campos">
                            <p>Informações básicas</p>
                            <div class="conjuntos-campos campos-basicos">
                                <!-- <div> -->
                                    <div class="input-wrapper">
                                        <label for="">Nome fantasia <span>*</span></label>
                                        {{ form.nome_fantasia }}
                                        {% if form.nome_fantasia.errors %}
                                            <div>
                                                {% for error in form.nome_fantasia.errors %}
                                                    <div>
                                                        <strong>{{ error }}</strong>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="input-wrapper">
                                        <label for="">Razão social <span>*</span></label>
                                        {{ form.razao_social }}
                                        {% if form.razao_social.errors %}
                                            <div>
                                                {% for error in form.razao_social.errors %}
                                                    <div>
                                                        <strong>{{ error }}</strong>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="input-wrapper">
                                        <label for="">CNPJ <span>*</span></label>
                                        {{ form.cnpj }}
                                        {% if form.cnpj.errors %}
                                            <div>
                                                {% for error in form.cnpj.errors %}
                                                    <div>
                                                        <strong>{{ error }}</strong>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                <!-- </div> -->
                                <!-- <div> -->
                                    <div class="input-wrapper">
                                        <label for="">Telefone de contato <span>*</span></label>
                                        {{ form.telefone }}
                                        {% if form.telefone.errors %}
                                            <div>
                                                {% for error in form.telefone.errors %}
                                                    <div>
                                                        <strong>{{ error }}</strong>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="input-wrapper">
                                        <label for="">E-mail de contato <span>*</span></label>
                                        {{ form.email }}
                                        {% if form.email.errors %}
                                            <div>
                                                {% for error in form.email.errors %}
                                                    <div>
                                                        <strong>{{ error }}</strong>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="input-wrapper">
                                    </div>
                                <!-- </div> -->
                            </div>
                        </div>

                        <div class="titulo-campos">
                            <p>Endereço</p>
                            <div class="conjuntos-campos campos-endereco">
                                <!-- <div> -->
                                    <div class="input-wrapper">
                                        <label for="">Cep <span>*</span></label>
                                        {{ form.cep }}
                                        {% if form.cep.errors %}
                                            <div>
                                                {% for error in form.cep.errors %}
                                                    <div>
                                                        <strong>{{ error }}</strong>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="input-wrapper">
                                        <label for="">Logradouro <span>*</span></label>
                                        {{ form.logradouro }}
                                        {% if form.logradouro.errors %}
                                            <div>
                                                {% for error in form.logradouro.errors %}
                                                    <div>
                                                        <strong>{{ error }}</strong>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="input-wrapper">
                                        <label for="">Número <span>*</span></label>
                                        {{ form.numero }}
                                        {% if form.numero.errors %}
                                            <div>
                                                {% for error in form.numero.errors %}
                                                    <div>
                                                        <strong>{{ error }}</strong>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="input-wrapper">
                                        <label for="">Complemento <span>*</span></label>
                                        {{ form.complemento }}
                                        {% if form.complemento.errors %}
                                            <div>
                                                {% for error in form.complemento.errors %}
                                                    <div>
                                                        <strong>{{ error }}</strong>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                <!-- </div> -->
                                <!-- <div> -->
                                    <div class="input-wrapper">
                                        <label for="">Bairro <span>*</span></label>
                                        {{ form.bairro }}
                                        {% if form.bairro.errors %}
                                            <div>
                                                {% for error in form.bairro.errors %}
                                                    <div>
                                                        <strong>{{ error }}</strong>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="input-wrapper">
                                        <label for="">Cidade <span>*</span></label>
                                        {{ form.cidade }}
                                        {% if form.cidade.errors %}
                                            <div>
                                                {% for error in form.cidade.errors %}
                                                    <div>
                                                        <strong>{{ error }}</strong>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="input-wrapper">
                                        <label for="">Estado <span>*</span></label>
                                        {{ form.estado }}
                                        {% if form.estado.errors %}
                                            <div>
                                                {% for error in form.estado.errors %}
                                                    <div>
                                                        <strong>{{ error }}</strong>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                <!-- </div> -->
                            </div>
                        </div>

                        <div class="titulo-campos">
                            <p>Categoria(s) da empresa <span>(mínimo 1, máximo 10)</span></p>
                            <div class="categorias">
                                <div class="input-wrapper">
                                    {{ form.categorias }}
                                    {% if form.categorias.errors %}
                                        <div>
                                            {% for error in form.categorias.errors %}
                                                <div>
                                                    <strong>{{ error }}</strong>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <!-- <div class="categoria-principal">
                            <span>Categoria principal</span>
                            <div class="categorias-itens"></div>
                        </div> -->

                        <input class="form-botao" type="submit" value="Enviar">
                    </form>
                </div>
            </section>
        </div>
    </main>
    
    <script>
        const categoria = document.querySelectorAll('.categoria');

        categoria.forEach((c)=>{
            c.addEventListener('click', ()=>{
                c.classList.toggle('selecionado');
            })
        })
    </script>

{% endblock %}