{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/cadastro-empresa.css' %}">
{% endblock %}

{% block 'titulo' %}
    {% if id_empresa %}
        Vi²Mu | Editar minha empresa
    {% else %}
        Vi²Mu | Cadastrar minha empresa
    {% endif %}
{% endblock %}

{% block 'conteudo'%}

    <main>
        <div class="main-scrollable">
            <div class="container">
                {% if messages %}
                    {% for i in messages %}   
                        <div class="alert {{i.tags}}" role="alert">
                            {{i}} 
                        </div>
            
                    {% endfor %}
                {% endif %}
                {% if id_empresa %}
                    <form
                        method="POST"
                        action="{% url 'valida_editar_empresa' id_empresa %}"
                        enctype="multipart/form-data"
                    >
                {% else %}
                    <form
                        method="POST"
                        action="{% url 'valida_cadastrar_empresa' %}"
                        enctype="multipart/form-data"
                    >
                {% endif %}
                    {% csrf_token %}

                    <div
                        class="mt-5"
                    >
                        <h4
                            class="mb-3"
                        >
                            Informações básicas
                        </h4>
                        <div
                            class="d-flex flex-column"
                        >
                            <div
                                class="d-flex flex-sm-row flex-column mb-4"
                            >
                                <div
                                    class="input-wrapper flex-fill mb-4 mb-sm-0"
                                >
                                    <label for="">Nome fantasia <span>*</span></label>
                                    {{ form.nome_fantasia }}
                                    {% if form.nome_fantasia.errors %}
                                        <div>
                                            {% for error in form.nome_fantasia.errors %}
                                                <div>
                                                    <strong>{{ error }}</strong>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="px-2"></div>
                                <div
                                    class="input-wrapper flex-fill mb-4 mb-sm-0"
                                >
                                    <label for="">Razão social <span>*</span></label>
                                    {{ form.razao_social }}
                                    {% if form.razao_social.errors %}
                                        <div>
                                            {% for error in form.razao_social.errors %}
                                                <div>
                                                    <strong>{{ error }}</strong>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div
                                class="d-flex flex-sm-row flex-column mb-4"
                            >
                                <div
                                    class="input-wrapper flex-fill mb-4 mb-sm-0"
                                >
                                    <label for="">Descrição <span>*</span></label>
                                    {{ form.descricao }}
                                    {% if form.descricao.errors %}
                                        <div>
                                            {% for error in form.descricao.errors %}
                                                <div>
                                                    <strong>{{ error }}</strong>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="px-2"></div>
                                <div
                                    class="input-wrapper flex-fill mb-4 mb-sm-0"
                                >
                                    <label for="">CNPJ <span>*</span></label>
                                    {{ form.cnpj_alterado }}
                                    {% if form.cnpj_alterado.errors %}
                                        <div>
                                            {% for error in form.cnpj_alterado.errors %}
                                                <div>
                                                    <strong>{{ error }}</strong>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div
                                class="d-flex flex-sm-row flex-column mb-4"
                            >
                                <div
                                    class="input-wrapper flex-fill mb-4 mb-sm-0"
                                >
                                    <label for="">Telefone de contato <span>*</span></label>
                                    {{ form.telefone }}
                                    {% if form.telefone.errors %}
                                        <div>
                                            {% for error in form.telefone.errors %}
                                                <div>
                                                    <strong>{{ error }}</strong>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="px-2"></div>
                                <div
                                    class="input-wrapper flex-fill mb-4 mb-sm-0"
                                >
                                    <label for="">E-mail de contato <span>*</span></label>
                                    {{ form.email }}
                                    {% if form.email.errors %}
                                        <div>
                                            {% for error in form.email.errors %}
                                                <div>
                                                    <strong>{{ error }}</strong>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="mt-2"
                    >
                        <h4
                            class="mb-3"
                        >
                            Endereço
                        </h4>
                        <div>
                            <div
                                class="d-flex flex-sm-row flex-column mb-4"
                            >
                                <div class="input-wrapper flex-fill mb-4 mb-sm-0">
                                    <label for="">Cep <span>*</span></label>
                                    {{ form.cep }}
                                    {% if form.cep.errors %}
                                        <div>
                                            {% for error in form.cep.errors %}
                                                <div>
                                                    <strong>{{ error }}</strong>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="px-2"></div>
                                <div class="input-wrapper flex-fill mb-4 mb-sm-0">
                                    <label for="">Logradouro <span>*</span></label>
                                    {{ form.logradouro }}
                                    {% if form.logradouro.errors %}
                                        <div>
                                            {% for error in form.logradouro.errors %}
                                                <div>
                                                    <strong>{{ error }}</strong>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div
                                class="d-flex flex-sm-row flex-column mb-4"
                            >
                                <div class="input-wrapper flex-fill mb-4 mb-sm-0">
                                    <label for="">Número <span>*</span></label>
                                    {{ form.numero }}
                                    {% if form.numero.errors %}
                                        <div>
                                            {% for error in form.numero.errors %}
                                                <div>
                                                    <strong>{{ error }}</strong>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="px-2"></div>
                                <div class="input-wrapper flex-fill mb-4 mb-sm-0">
                                    <label for="">Complemento</label>
                                    {{ form.complemento }}
                                    {% if form.complemento.errors %}
                                        <div>
                                            {% for error in form.complemento.errors %}
                                                <div>
                                                    <strong>{{ error }}</strong>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div
                                class="d-flex flex-sm-row flex-column mb-4"
                            >
                                <div class="input-wrapper flex-fill mb-4 mb-sm-0">
                                    <label for="">Bairro <span>*</span></label>
                                    {{ form.bairro }}
                                    {% if form.bairro.errors %}
                                        <div>
                                            {% for error in form.bairro.errors %}
                                                <div>
                                                    <strong>{{ error }}</strong>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="px-2"></div>
                                <div class="input-wrapper flex-fill mb-4 mb-sm-0">
                                    <label for="">Cidade <span>*</span></label>
                                    {{ form.cidade }}
                                    {% if form.cidade.errors %}
                                        <div>
                                            {% for error in form.cidade.errors %}
                                                <div>
                                                    <strong>{{ error }}</strong>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="px-2"></div>
                                <div class="input-wrapper flex-fill mb-4 mb-sm-0">
                                    <label for="">Estado <span>*</span></label>
                                    {{ form.estado }}
                                    {% if form.estado.errors %}
                                        <div>
                                            {% for error in form.estado.errors %}
                                                <div>
                                                    <strong>{{ error }}</strong>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <p>Imagens</p>
                        <div class="input-wrapper input-wrapper-imagem mb-4">
                            <label for="">Imagem de capa*</label>
                            {{ form.imagem_capa }}
                            {% if form.imagem_capa.errors %}
                                <div>
                                    {% for error in form.imagem_capa.errors %}
                                        <div>
                                            <strong>{{ error }}</strong>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="text-center">
                                <span id="label-imagem-capa">
                                    {% if imagem_capa %}
                                        Prévia da imagem
                                    {% endif %}
                                </span>
                                <div
                                    id="imagem-capa"
                                >
                                    {% if imagem_capa %}
                                        <img
                                            src="{{ imagem_capa.url }}"
                                            alt="Imagem de capa da empresa"
                                        >
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="input-wrapper">
                            <label for="">Imagem de perfil*</label>
                            {{ form.imagem_perfil }}
                            {% if form.imagem_perfil.errors %}
                                <div>
                                    {% for error in form.imagem_perfil.errors %}
                                        <div>
                                            <strong>{{ error }}</strong>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="text-center">
                                <span id="label-imagem-perfil">
                                    {% if imagem_perfil %}
                                        Prévia da imagem
                                    {% endif %}
                                </span>
                                {{imagem_perfil}}
                                <div
                                    id="imagem-perfil"
                                >
                                    {% if imagem_perfil %}
                                        <img
                                            src="{{ imagem_perfil.url }}"
                                            alt="Imagem de perfil da empresa"
                                        >
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div>
                        <div class="mt-2 mb-4">
                            <p>Categoria(s) da empresa <span>(mínimo 1, máximo 10)</span></p>
                            <div class="input-wrapper">
                                {{ form.categorias }}
                                {% if form.categorias.errors %}
                                    <div>
                                        {% for error in form.categorias.errors %}
                                            <div>
                                                <strong>{{ error }}</strong>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>


                    <input class="form-botao botao mb-4" type="submit" value="Enviar">
                </form>
            </div>
        </div>
    </main>
    
    <script>

        function verificaExistenciaImagem(event, idContainerImagem) {
            const arquivo = event.target.files[0];

            if (!arquivo) {
                document.getElementById(idContainerImagem).innerHTML = '';
                document.getElementById('label-'+idContainerImagem).innerText = ''
            }

        }

        function exibirImagem(event, idContainerImagem) {
            const arquivo = event.target.files[0];
            if (arquivo) {
                const urlImagem = URL.createObjectURL(arquivo);
    
                const imagem = document.createElement('img');
                imagem.src = urlImagem;
                imagem.alt = "Imagem selecionada";
                imagem.style.maxWidth = "300px";
                imagem.style.marginTop = "10px";

                const divImagem = document.getElementById(idContainerImagem);
                const labelDivImagem = document.getElementById('label-'+idContainerImagem);
    
                labelDivImagem.innerText = "Prévia da imagem/Imagem salva";
                divImagem.innerHTML = '';
                divImagem.appendChild(imagem);
            }
        }

        $(document).ready(function(){
            $('#cnpj').mask('00.000.000/0000-00');
            $('#telefone').mask('(00) 00000-0000');
            $('#cep').mask('00000-000');
        });

        document.getElementById('cep').addEventListener('input', function () {
            const cepInput = this.value;
      
            if (cepInput.length === 9) {
                const url = "/empresas/verifica-cep/"+cepInput
                // Faz a chamada à API
                fetch(url)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Erro ao buscar dados do CEP');
                        }
                        return response.json();
                    })
                    .then(data => {
                        document.getElementById('logradouro').value = data.logradouro || '';
                        document.getElementById('bairro').value = data.bairro || '';
                        document.getElementById('cidade').value = data.localidade || '';
                        document.getElementById('estado').value = data.estado || '';
                    })
                    .catch(error => {
                        alert('Não foi possível buscar os dados do CEP.');
                    });
            }
        });
    </script>

{% endblock %}