{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/minhas-empresas-lojista.css' %}">
{% endblock %}

{% block 'titulo' %}
    Vi²Mu | Minhas lojas
{% endblock %}

{% block 'conteudo'%}
    <main>
        <div class="main-scrollable">
            <section class="secao-minhas-empresas">
                <div class="container">
                    {% if messages %}
                        {% for i in messages %}   
                            <div class="alert {{i.tags}}" role="alert">
                                {{i}} 
                            </div>
                
                        {% endfor %}
                    {% endif %}

                    <div class="cabecalho">
                        <h1>Minhas lojas</h1>
                        <a href="{% url 'cadastrar_empresa' %}">Cadastrar</a>
                    </div>

                    <div class="minhas-empresas-lojista">

                        {% for empresa in empresas %}
                            <div class="card-empresa-faixa">
                                <div class="imagens">
                                    <div class="img-capa">
                                        <img
                                            src="{{ empresa.imagem_capa.url }}"
                                            alt="Imagem da empresa de capa"
                                            class="img-responsive"
                                        >
                                    </div>
                                    <div class="img-perfil">
                                        <img
                                            src="{{ empresa.imagem_perfil.url }}"
                                            alt="Imagem da empresa de perfil"
                                            class="img-responsive"
                                        >
                                    </div>
                                </div>
                                <div class="textos-botoes">
                                    <div class="textos">
                                        <div class="informacoes">
                                            <p class="nome">{{ empresa.nome_fantasia }}</p>
                                            <p class="descricao">
                                                {{ empresa.descricao }}
                                            </p>
                                            <div class="categorias">
                                                {% for categoria in empresa.empresa_categoria.all %}
                                                    <div class="categoria">{{ categoria.descricao }}</div>
                                                {% endfor %}                                                
                                            </div>
                                        </div>
                                        <div class="dados">
                                            <p>{{ empresa.contador_favoritos }} favoritos</p>
                                            <p>{{ empresa.contador_produtos }} produtos</p>
                                            <p>{{ empresa.media_salvamento_produto }} salvamentos / produto</p>
                                        </div>
                                    </div>
                                    <div class="botoes">
                                        <a
                                            href="{% url 'listagem_produto_por_empresa' empresa.id %}"
                                            class="botao botao-produtos"
                                        >
                                            Produtos
                                        </a>
                                        <a
                                            href="{% url 'editar_empresa' empresa.id %}"
                                            class="botao botao-editar"
                                        >
                                            Editar
                                        </a>
                                        <a
                                            href="{% url 'excluir_empresa' empresa.id %}"
                                            class="botao botao-excluir"
                                        >
                                            Excluir
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <!-- {% for empresa in empresas %}
                            <div class="card card-empresa">
                                <div class="img-perfil">
                                    <img
                                        src="{{ empresa.imagem_perfil.url }}"
                                        alt="Imagem da empresa de perfil"
                                        class="img-responsive"
                                    >
                                </div>
                                <div class="img-capa">
                                    <img
                                        src="{{ empresa.imagem_capa.url }}"
                                        alt="Imagem da empresa de capa"
                                        class="img-responsive"
                                    >
                                </div>
                                <div class="textos">
                                    <p class="nome">{{ empresa.nome_fantasia }}</p>
                                    <p class="descricao">
                                        {{ empresa.razao_social }}
                                    </p>
                                    Categorias:
                                    <div class="categoria-favoritos">
                                        {% for categoria in empresa.empresa_categoria.all %}
                                            <div class="categoria">{{ categoria.descricao }}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <a
                                    href="{% url 'listagem_produto_por_empresa' empresa.id %}"
                                    class="btn"
                                >
                                    Produtos
                                </a>
                                <a
                                    href="{% url 'editar_empresa' empresa.id %}"
                                    class="btn"
                                >
                                    Editar
                                </a>
                                <a
                                    href="{% url 'excluir_empresa' empresa.id %}"
                                    class="btn"
                                >
                                    Excluir
                                </a>
                            </div>
                        {% endfor %} -->
                        
                    </div>
                </div>
            </section>
        </div>
    </main>

{% endblock %}