{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/minhas-empresas-lojista.css' %}">
{% endblock %}

{% block 'titulo' %}
    Vi²Mu | Minhas lojas
{% endblock %}

{% block 'conteudo'%}
    <main>
        <div class="main-scrollable">
            <section class="secao-minhas-empresas">
                <div class="container">
                    {% if messages %}
                        {% for i in messages %}   
                            <div class="alert {{i.tags}}" role="alert">
                                {{i}} 
                            </div>
                
                        {% endfor %}
                    {% endif %}
                    <div class="cabecalho">
                        <h1>Minhas lojas</h1>
                        <a href="{% url 'cadastrar_empresa' %}">Cadastrar</a>
                    </div>

                    <div class="minhas-empresas-lojista">
                        {% for empresa in empresas %}
                            <div>
                                <div class="imagens">
                                    <div
                                        class="div-img-capa-minhas-empresas"
                                    >
                                        <img
                                            src="{{ empresa.imagem_capa.url }}"
                                            alt="Imagem da empresa de capa"
                                            class="img-capa-minhas-empresas"
                                        >
                                    </div>
                                    <!--
                                    <div>
                                        <img
                                            src="{{ empresa.imagem_perfil.url }}"
                                            alt="Imagem da empresa de perfil"
                                            class="img-perfil-minhas-empresas"
                                        >
                                    </div>-->
                                </div>
                                <div
                                    class="div-suporte"
                                >
                                    <div
                                        class="suporte"
                                    >
                                    </div>
                                </div>
                                <div class="card-empresa-faixa">
                                    <div class="textos-botoes">
                                        <div class="textos">
                                            <div class="informacoes">
                                                <p class="nome">{{ empresa.nome_fantasia }}</p>
                                                <p class="descricao">
                                                    {{ empresa.descricao }}
                                                </p>
                                                <div class="categorias">
                                                    {% for categoria in empresa.empresa_categoria.all|slice:":3" %}
                                                        <div class="categoria">{{ categoria.descricao }}</div>
                                                    {% endfor %}      
                                                    {% if empresa.empresa_categoria.all|length > 3  %}
                                                        ... 
                                                    {% endif %}                                             
                                                </div>
                                            </div>
                                            <div class="dados">
                                                {% if empresa.contador_favoritos < 2  %}
                                                    <p>{{ empresa.contador_favoritos }} curtida</p>
                                                {% else  %}
                                                    <p>{{ empresa.contador_favoritos }} curtidas</p>
                                                {% endif %}
                                                {% if empresa.contador_produtos < 2  %}
                                                    <p>{{ empresa.contador_produtos }} produto salvo</p>
                                                {% else  %}
                                                    <p>{{ empresa.contador_produtos }} produtos salvos</p>
                                                {% endif %}
                                                <p>{{ empresa.qtd_visualizacoes }} visualizações totais</p>
                                            </div>
                                        </div>
                                        <div
                                            class="div-botoes"
                                        >
                                            <div class="botoes">
                                                <a
                                                    href="{% url 'listagem_produto_por_empresa' empresa.id %}"
                                                    class="botao botao-produtos"
                                                >
                                                    Produtos
                                                </a>
                                                <a
                                                    href="{% url 'editar_empresa' empresa.id %}"
                                                    class="botao botao-editar"
                                                >
                                                    Editar
                                                </a>
                                                <a
                                                    href="{% url 'excluir_empresa' empresa.id %}"
                                                    class="botao botao-excluir"
                                                >
                                                    Excluir
                                                </a>
                                            </div>
                                            <div class="botoes">
                                                <a
                                                    href="{% url 'dashboard_lojista' empresa.id %}"
                                                    class="botao-visualizacao-avancada text-center"
                                                >
                                                    Visualização Avançada
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <h4>Você não criou empresas ainda.</h4>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </main>

{% endblock %}