{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/visualizar-empresa-usuario.css' %}">
{% endblock %}

{% block 'titulo' %}
    Vitrisse | Visualizar empresa
{% endblock %}

{% block 'conteudo'%}

    <main>
        <div class="main-scrollable">
            {% if messages %}
                {% for i in messages %}   
                    <div class="alert {{i.tags}}" role="alert">
                        {{i}} 
                    </div>
                {% endfor %}
            {% endif %}

            <section class="perfil">
                <div class="div-img-capa">
                    <img
                        class="img-capa"
                        src="{{ empresa.imagem_capa.url }}"
                        alt="imagem capa empresa {{ empresa.nome_fantasia }}"
                    >
                </div>
                <img
                    class="img-perfil"
                    src="{{ empresa.imagem_perfil.url }}"
                    alt="imagem perfil empresa {{ empresa.nome_fantasia }}"
                >

                <div class="informacoes">
                    <div class="nome-categorias">
                        <h1>{{ empresa.nome_fantasia }}</h1>
                        <p>{{ empresa.descricao }}</p>
                        <div class="categorias">
                            {% for categoria in empresa.categorias %}
                                <span>{{ categoria.descricao }}</span>
                            {% endfor %}
                        </div>
                        <div class="favoritos">
                            <img
                                class="fav-{{empresa.id}}"
                                onclick="favnotfavbusiness(
                                    'fav-{{empresa.id}}',
                                    'fav-number-{{empresa.id}}',
                                    {{empresa.id}}
                                )"
                                {% if empresa.favorito_usuario %}
                                    src="{% static 'images/icone-coracao-preenchido.svg' %}"
                                {% else %}
                                    src="{% static 'images/icone-coracao.svg' %}"
                                {% endif %}
                                alt="Ícone coração"
                                style="cursor: pointer;"
                            >
                            <span
                                class="fav-number-{{empresa.id}}"
                            >
                                {{ empresa.favoritos }}
                            </span>
                        </div>
                    </div>
                    <div class="endereco-contato">
                        <div class="endereco">
                            <div>
                                <span>{{ endereco.cep }}</span>
                            </div>
                            <div>
                                <span>{{ endereco.logradouro }}</span>
                                <span>-</span>
                                <span>{{ endereco.numero }}</span>
                            </div>
                            <div>
                                <span>{{ endereco.complemento }}</span>
                            </div>
                            <div>
                                <span>{{ endereco.uf }}</span>
                                <span>-</span>
                                <span>{{ endereco.cidade }}</span>
                                <span>-</span>
                                <span>{{ endereco.bairro }}</span>
                            </div>
                        </div>
                        <div class="contato">
                            <span class="email">{{ empresa.email }}</span>
                            <span class="telefone">{{ empresa.telefone }}</span>
                        </div>
                    </div>
                </div>
                
            </section>

            <section class="produtos">
                <div class="destaques">
                    <h2>Destaques</h2>
                    <div class="carrossel">
                        {% for produto in produtos_destaque %}
                            <div
                                class="card card-produto"
                                onclick="window.location.href='{% url 'visualizar_produto' empresa.id produto.id %}'"
                                style="cursor: pointer;"
                            >
                                <div>
                                    {% if produto.primeira_imagem %}
                                        <img
                                            src="{{ produto.primeira_imagem.url }}"
                                            alt="imagem capa produto {{ produto.descricao }}"
                                            class="img-capa"
                                        >
                                    {% else %}
                                        <img
                                            src="{{ produto.primeira_imagem_default }}"
                                            alt="imagem capa produto {{ produto.descricao }}"
                                            class="img-capa"
                                        >
                                    {% endif %}
                                </div>
                                <div class="informacoes">
                                    <p class="nome">{{ produto.nome }}</p>
                                    <p>{{ produto.descricao }}</p>
                                    <div class="preco-disponibilidade">
                                        <div class="preco">R$ {{ produto.preco }}</div>
                                    </div>
                                    <div class="categoria-favoritos">
                                        <div class="categorias">
                                            {% for categoria in produto.categorias %}
                                            <div class="categoria">{{ categoria.descricao }}</div>
                                            {% endfor %}
                                        </div>
                                        <div class="favoritos">
                                            <img
                                                class="fav-{{produto.id}}"
                                                onclick="favnotfavproduct(
                                                    event,
                                                    'fav-{{produto.id}}',
                                                    'fav-number-{{produto.id}}',
                                                    {{produto.id}}
                                                )"
                                                {% if produto.favorito_usuario %}
                                                    src="{% static 'images/icone-salvar-fill.svg' %}"
                                                {% else %}
                                                    src="{% static 'images/icone-salvar.svg' %}"
                                                {% endif %}
                                                alt="Ícone salvar"
                                                style="cursor: pointer;"
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <p>Não tem produtos em destaque.</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="todos">
                    <h2>Todos os produtos</h2>
                    <div class="todos-produtos">
                        {% for produto in produtos %}
                            <div
                                class="card card-produto"
                                onclick="window.location.href='{% url 'visualizar_produto' empresa.id produto.id %}'"
                                style="cursor: pointer;"
                            >
                                <div>
                                    {% if produto.primeira_imagem %}
                                        <img
                                            src="{{ produto.primeira_imagem.url }}"
                                            alt="imagem capa produto {{ produto.descricao }}"
                                            class="img-capa"
                                        >
                                    {% else %}
                                        <img
                                            src="{{ produto.primeira_imagem_default }}"
                                            alt="imagem capa produto {{ produto.descricao }}"
                                            class="img-capa"
                                        >
                                    {% endif %}
                                </div>
                                <div class="informacoes">
                                    <p class="nome">{{ produto.nome }}</p>
                                    <p>{{ produto.descricao }}</p>
                                    <div class="preco-disponibilidade">
                                        <div class="preco">R$ {{ produto.preco }}</div>
                                    </div>
                                    <div class="categoria-favoritos">
                                        <div class="categorias">
                                            {% for categoria in produto.categorias %}
                                            <div class="categoria">{{ categoria.descricao }}</div>
                                            {% endfor %}
                                        </div>
                                        <div class="favoritos">
                                            <img
                                                class="fav-{{produto.id}}"
                                                onclick="favnotfavproduct(
                                                    event,
                                                    'fav-{{produto.id}}',
                                                    'fav-number-{{produto.id}}',
                                                    {{produto.id}}
                                                )"
                                                {% if produto.favorito_usuario %}
                                                    src="{% static 'images/icone-salvar-fill.svg' %}"
                                                {% else %}
                                                    src="{% static 'images/icone-salvar.svg' %}"
                                                {% endif %}
                                                alt="Ícone salvar"
                                                style="cursor: pointer;"
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <p>Não tem produtos cadastrados.</p>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </main>

    <script>

        function favnotfavbusiness(id_icone, numero_favoritos, id_empresa) {
            const url = "/empresas/favorita-nao-favorita-empresa/" + id_empresa + "/"
            const icones = document.getElementsByClassName(id_icone);
            const spans_numero = document.getElementsByClassName(numero_favoritos);
            fetch(url, {
                method: "POST",
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json'
                },
            })
            .then(response => response.json())
            .then(data => {
                if(data.status === 'success'){
                    for (let i = 0; i < icones.length; i++) {
                        if(data.message === 'like'){
                            icones[i].src = "{% static 'images/icone-coracao-preenchido.svg' %}";
                            spans_numero[i].innerHTML = parseInt(spans_numero[i].innerHTML) + 1
                        } else {
                            icones[i].src = "{% static 'images/icone-coracao.svg' %}";
                            spans_numero[i].innerHTML = parseInt(spans_numero[i].innerHTML) - 1
                        }
                    }
                }else{
                    alert('Não foi possível favoritar essa empresa, tente novamente mais tarde.');
                }
            })
            .catch(error => {
                alert('Não foi possível favoritar essa empresa, tente novamente mais tarde.');
            });
        }

        function favnotfavproduct(event, id_icone, numero_salvos, id_produto) {
            event.stopPropagation();
            const url = "/empresas/salva-nao-salva-produto/" + id_produto + "/"
            const icones = document.getElementsByClassName(id_icone);
            fetch(url, {
                method: "POST",
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json'
                },
            })
            .then(response => response.json())
            .then(data => {
                if(data.status === 'success'){
                    for (let i = 0; i < icones.length; i++) {
                        if(data.message === 'like'){
                            icones[i].src = "{% static 'images/icone-salvar-fill.svg' %}";
                        } else {
                            icones[i].src = "{% static 'images/icone-salvar.svg' %}";
                        }
                    }
                }else{
                    alert('Não foi possível favoritar esse produto, tente novamente mais tarde.');
                }
            })
            .catch(error => {
                alert('Não foi possível favoritar esse produto, tente novamente mais tarde.');
            });
        }
    </script>
    
{% endblock %}