{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/404-500.css' %}">
{% endblock %}

{% block 'titulo' %}
    Vitrisse | Error 404
{% endblock %}

{% block 'conteudo'%}
    <main>
        <div class="container container-erro">
            <div class="textos">
                <h1>404</h1>
                <p>Página não encontrada</p>
            </div>
            <a href="{% url 'home' %}">Ir para o início</a>
        </div>
    </main>
{% endblock %}