{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/404-500.css' %}">
{% endblock %}

{% block 'titulo' %}
    Vi²Mu | Error 404
{% endblock %}

{% block 'conteudo'%}
    <main>
        <section class="secao">
            <div class="container container-erro">
                <div class="camada-transparente"></div>
                <div class="conteudos-erro">
                    <div class="textos">
                        <h1>500</h1>
                        <p>Erro interno do servidor</p>
                    </div>
                    <a href="{% url 'home' %}">Ir para o início</a>
                </div>
            </div>
        </section>
    </main>

{% endblock %}