<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitrine Digital | Minhas lojas</title>
    <link rel="stylesheet" href="../static/css/minhas-lojas.css">
</head>
<body>
    <main>
        <a href="./inicio-cliente.html" class="botao-voltar">
            <img src="../static/images/seta-esquerda.svg" alt="Seta para a esquerda">
            <span>Área do cliente</span>
        </a>

        <section class="secao-minhas-empresas">
            <div class="container">
                <h1>Minhas lojas</h1>
                <div class="minhas-lojas">
                    <div class="card card-empresa">
                        <div class="img-perfil"></div>
                        <div class="img-capa"></div>
                        <div class="textos">
                            <p class="nome">Nome da empresa</p>
                            <p class="descricao">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam incidunt maxime quidem! Necessitatibus repudiandae veritatis nisi quis. Incidunt alias natus dignissimos sed ratione atque, temporibus, quod expedita sit earum quis.
                            </p>
                            <div class="categoria-favoritos">
                                <div class="categoria">Categoria</div>
                                <div class="favoritos">
                                    <img src="../static/images/icone-estrela.svg" alt="Ícone estrela">
                                    <span>1.3K</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-empresa">
                        <div class="img-perfil"></div>
                        <div class="img-capa"></div>
                        <div class="textos">
                            <p class="nome">Nome da empresa</p>
                            <p class="descricao">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam incidunt maxime quidem! Necessitatibus repudiandae veritatis nisi quis. Incidunt alias natus dignissimos sed ratione atque, temporibus, quod expedita sit earum quis.
                            </p>
                            <div class="categoria-favoritos">
                                <div class="categoria">Categoria</div>
                                <div class="favoritos">
                                    <img src="../static/images/icone-estrela.svg" alt="Ícone estrela">
                                    <span>1.3K</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card card-empresa">
                        <div class="img-perfil"></div>
                        <div class="img-capa"></div>
                        <div class="textos">
                            <p class="nome">Nome da empresa</p>
                            <p class="descricao">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam incidunt maxime quidem! Necessitatibus repudiandae veritatis nisi quis. Incidunt alias natus dignissimos sed ratione atque, temporibus, quod expedita sit earum quis.
                            </p>
                            <div class="categoria-favoritos">
                                <div class="categoria">Categoria</div>
                                <div class="favoritos">
                                    <img src="../static/images/icone-estrela.svg" alt="Ícone estrela">
                                    <span>1.3K</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card card-empresa">
                        <div class="img-perfil"></div>
                        <div class="img-capa"></div>
                        <div class="textos">
                            <p class="nome">Nome da empresa</p>
                            <p class="descricao">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam incidunt maxime quidem! Necessitatibus repudiandae veritatis nisi quis. Incidunt alias natus dignissimos sed ratione atque, temporibus, quod expedita sit earum quis.
                            </p>
                            <div class="categoria-favoritos">
                                <div class="categoria">Categoria</div>
                                <div class="favoritos">
                                    <img src="../static/images/icone-estrela.svg" alt="Ícone estrela">
                                    <span>1.3K</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card card-empresa">
                        <div class="img-perfil"></div>
                        <div class="img-capa"></div>
                        <div class="textos">
                            <p class="nome">Nome da empresa</p>
                            <p class="descricao">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam incidunt maxime quidem! Necessitatibus repudiandae veritatis nisi quis. Incidunt alias natus dignissimos sed ratione atque, temporibus, quod expedita sit earum quis.
                            </p>
                            <div class="categoria-favoritos">
                                <div class="categoria">Categoria</div>
                                <div class="favoritos">
                                    <img src="../static/images/icone-estrela.svg" alt="Ícone estrela">
                                    <span>1.3K</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card card-empresa">
                        <div class="img-perfil"></div>
                        <div class="img-capa"></div>
                        <div class="textos">
                            <p class="nome">Nome da empresa</p>
                            <p class="descricao">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam incidunt maxime quidem! Necessitatibus repudiandae veritatis nisi quis. Incidunt alias natus dignissimos sed ratione atque, temporibus, quod expedita sit earum quis.
                            </p>
                            <div class="categoria-favoritos">
                                <div class="categoria">Categoria</div>
                                <div class="favoritos">
                                    <img src="../static/images/icone-estrela.svg" alt="Ícone estrela">
                                    <span>1.3K</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
    </main>
</body>
</html>