{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock %}

<aside id="sidebar">
    <input type="checkbox" id="toggler">
    <label for="toggler" class="toggle-btn">
        <img src="{% static 'images/icone-grid.svg' %}" alt="">
        <span>
            <a
                href="{% url 'home' %}"
                class="logo-text logo-text-bold logo-text-color"
            >
                Vi²Mu
            </a>
        </span>
    </label>
    <form action="#" class="search-bar">
        <span class="search-icon">
            <img src="{% static 'images/icone-casa.svg' %}" alt="Ícone de casa">
        </span>
        <input type="text" class="search-query" placeholder="Search...">
    </form>

     <ul class="sidebar-nav">
        <div class="sidebar-nav-items">
            <li class="sidebar-item">
                <a href="{% url 'dashboard_usuario' %}" class="sidebar-link">
                    <img src="{% static 'images/icone-casa.svg' %}" alt="Ícone de casa">
                    <span>Início</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="{% url 'empresas_favoritas_usuario' %}" class="sidebar-link">
                    <img src="{% static 'images/icone-coracao.svg' %}" alt="Ícone de coração">
                    <span>Lojas favoritas</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="{% url 'produtos_salvos_usuario' %}" class="sidebar-link">
                    <img src="{% static 'images/icone-salvar.svg' %}" alt="Ícone de marcador">
                    <span>Produtos salvos</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="{% url 'logout' %}" class="sidebar-link">
                    <img src="{% static 'images/icone-logout.svg' %}" alt="Ícone de logout">
                    <span>Logout</span>
                </a>
            </li>
        </div>
    </ul>
    <div class="sidebar-footer">
        <div class="sidebar-footer-items">
            <a href="{% url 'meus_dados_usuario' %}" class="sidebar-link profile-btn">
                <!-- <div class="sidebar-profile-pic"></div> -->
                <img
                    class="sidebar-profile-pic rounded-circle"
                    src="{{ user.imagem.url }}"
                    alt="Sua imagem de perfil"
                    height="24px"
                    width="24px"
                >
                <span>Minha conta</span>
            </a>
            <a href="{% url 'minhas_empresas_lojista' %}" class="sidebar-link my-companies-btn">
                <img src="{% static 'images/icone-maleta.svg' %}" alt="Ícone de maleta">
                <span>Minhas lojas</span>
            </a>
        </div>
    </div>
</aside>