
<aside id="sidebar">
    <input type="checkbox" id="toggler">
    <label for="toggler" class="toggle-btn">
        <img src="../static/images/icone-grid.svg" alt="">
        <span>Vitrine Digital</span>
    </label>
    <form action="#" class="search-bar">
        <span class="search-icon">
            <img src="../../vitrine_digital/static/images/icone-casa.svg" alt="Ícone de casa">
        </span>
        <input type="text" class="search-query" placeholder="Search...">
    </form>

     <ul class="sidebar-nav">
        <div class="sidebar-nav-items">
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <img src="../../vitrine_digital/static/images/icone-casa.svg" alt="Ícone de casa">
                    <span>Início</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <img src="../../vitrine_digital/static/images/icone-coracao.svg" alt="Ícone de coração">
                    <span>Lojas favoritas</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <img src="../../vitrine_digital/static/images/icone-salvar.svg" alt="Ícone de marcador">
                    <span>Produtos salvos</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <img src="../../vitrine_digital/static/images/icone-lupa.svg" alt="Ícone de lupa">
                    <span>Pesquisar lojas</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <img src="../../vitrine_digital/static/images/icone-maleta.svg" alt="Ícone de maleta">
                    <span>Para lojas</span>
                </a>
            </li>
            <!-- <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <img src="../../vitrine_digital/static/images/icone-configuracoes.svg" alt="Ícone de Configurações">
                    <span>Configurações</span>
                </a>
            </li> -->
        </div>
     </ul>
    <div class="sidebar-footer">
        <div class="sidebar-footer-items">
            <a href="#" class="sidebar-link profile-btn">
                <!-- <div class="sidebar-profile-pic"></div> -->
                <img class="sidebar-profile-pic" src="../../vitrine_digital/static/images/img-perfil-exemplo.jpeg" alt="Sua imagem de perfil">
                <span>Minha conta</span>
            </a>
            <a href="#" class="sidebar-link my-companies-btn">
                <img src="../../vitrine_digital/static/images/icone-maleta.svg" alt="Ícone de maleta">
                <span>Minhas empresas</span>
            </a>
        </div>
    </div>
</aside>