{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock %}

<header>
    <img src="" alt="Logo da Vitrine Digital">

    <ul>
        <li><a href="{% url 'home' %}">Home</a><div></div></li>
        <!-- <li><a href="">Sobre nós</a><div></div></li> -->
        <li><a href="#">Contato</a><div></div></li>
        <li><a href="#">Sou comerciante</a><div></div></li>
        <li><a href="{% url 'login' %}">Entrar</a><div></div></li>
    </ul>
</header>