{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock %}

<aside id="sidebar">
    <input type="checkbox" id="toggler">
    <label for="toggler" class="toggle-btn">
        <img src="{% static 'images/icone-grid.svg' %}" alt="">
        <span>Vitrine Digital</span>
    </label>
    <form action="#" class="search-bar">
        <span class="search-icon">
            <img src="{% static 'images/icone-casa.svg' %}" alt="Ícone de casa">
        </span>
        <input type="text" class="search-query" placeholder="Search...">
    </form>

     <ul class="sidebar-nav">
        <div class="sidebar-nav-items">
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <img src="{% static 'images/icone-casa.svg' %}" alt="Ícone de casa">
                    <span>Início</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <img src="{% static 'images/icone-caixa.svg' %}" alt="Ícone de caixa">
                    <span>Meus produtos</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <img src="{% static 'images/icone-estrela.svg' %}" alt="Ícone de estrela">
                    <span>Avaliações</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <img src="{% static 'images/icone-lupa.svg' %}" alt="Ícone de lupa">
                    <span>Pesquisar lojas</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="{% url 'dashboard_usuario' %}" class="sidebar-link">
                    <img src="{% static 'images/icone-pessoa.svg' %}" alt="Ícone de pessoa">
                    <span>Área do cliente</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <img src="{% static 'images/icone-configuracoes.svg' %}" alt="Ícone de Configurações">
                    <span>Configurações</span>
                </a>
            </li>
        </div>
    </ul>
    <div class="sidebar-footer">
        <div class="sidebar-footer-items">
            <a href="#" class="sidebar-link profile-btn">
                <img class="sidebar-profile-pic" src="{% static 'images/perfil-empresa-1.jpg' %}" alt="Imagem de perfil da loja">
                <span>Perfil da loja</span>
            </a>
            <a href="{% url 'minhas_empresas_lojista' %}" class="sidebar-link my-companies-btn">
                <img src="{% static 'images/icone-maleta.svg' %}" alt="Ícone de maleta">
                <span>Minhas empresas</span>
            </a>
        </div>
    </div>
</aside>