.cabecalho {
    display: flex;
    gap: var(--spc-300);

    @media all and (max-width: 576px){
        flex-flow: column;
        text-align: center;
    }
}

.grid-produtos-empresas {
    display: grid;
    grid-template-columns: repeat(auto-fill, 22.5rem);
    gap: var(--spc-700);

    @media (max-width: 576px) {
        justify-content: center;
    }
}




