.dados-usuario {
    max-width: 85rem;
    margin: 0 auto;
}

.dados {
    & .cabecalho {
        display: flex;
        justify-content: space-between;
        gap: var(--spc-400);
    }

    & .input-wrapper-imagem {
        & input {
            display: flex;
            flex-flow: column;
            gap: var(--spc-300);
            margin: 0;
            font-size: var(--fs-200);
        }
    }

    
    & .img-perfil {
        max-width: 6rem;
        aspect-ratio: 1;
        object-fit: cover;
        object-position: 50% 50%;
        border-radius: 100vh;
    }

    .custom-botao {
        max-width: fit-content;
        width: fit-content;
    }
    
    & .botao {
        background-color: #FCEAED !important;
        align-self: flex-end !important;
    }

    .pedido-analise {
        display: flex;
        align-items: center;
        border-radius: 15px;
        padding: 0 10px;
        width: fit-content;
        border: 3px solid gold;
    }
}

    
h3 {
    font-size: var(--fs-200);
    margin-top: var(--spc-500);
}