@import url("../../../vitrine_digital/static/css/global.css");
@import url("../../../vitrine_digital/static/css/sidebar.css");
@import url("../../../vitrine_digital/static/css/card.css");
@import url("../../../vitrine_digital/static/css/body-main.css");


.secao-minhas-empresas {
    padding: var(--spc-1300) var(--spc-400);

    & .minhas-lojas-lojista {
        display: grid;
        grid-template-columns: repeat(3, 25rem);
        gap: var(--spc-700);
    }

}



