{% load static %}

<h1
    class="pl-5"
>
    {{ titulo }}
</h1>

<div
    id="splide_id_{{splide_id}}"
    class="splide cards-empresa-grid"
>
    <div
        class="splide__track"
    >
        <ul
            class="splide__list"
        >
            {% for empresa in empresas %}
                <li
                    class="
                        splide__slide
                        card-empresa-horizontal
                    "
                >
                    <div
                        class="agrupamento-imagens mr-4"
                    >
                        <img
                            src="{{ empresa.imagem_perfil.url }}"
                            alt="imagem perfil empresa {{ empresa.nome_fantasia }}"
                            class="img-perfil"
                        >
                    </div>
                    <div class="agrupamento-informacoes">
                        <div class="nome-fantasia-empresa ellipse">
                            {{ empresa.nome_fantasia }}
                        </div>
                        <div class="descricao-empresa ellipse">
                            {{ empresa.descricao }}
                        </div>
                        <div class="categorias-empresa">
                            {% for categoria in empresa.categorias.all|slice:":2" %}
                                <div class="ellipse">{{ categoria.descricao }}</div>
                            {% endfor %}      
                            {% if empresa.categorias.all|length > 2  %}
                                <div>+</div>
                            {% endif %}                                             
                        </div>
                        <div
                            class="like-empresa"
                        >
                            <img
                                class="fav-{{empresa.id}}"
                                onclick="favnotfav(
                                    event,
                                    'fav-{{empresa.id}}',
                                    'fav-number-{{empresa.id}}',
                                    {{empresa.id}}
                                )"
                                {% if empresa.favorito_usuario %}
                                    src="{% static 'images/icone-coracao-preenchido.svg' %}"
                                {% else %}
                                    src="{% static 'images/icone-coracao.svg' %}"
                                {% endif %}
                                alt="Ícone coraçao"
                                style="cursor: pointer;"
                            >
                            <span
                                class="fav-number-{{empresa.id}}"
                            >
                                {% if empresa.favorito_usuario %}
                                    Curtido
                                {% else %}
                                    Curtir
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </li>
            {% empty %}
                <li>Não foram encontradas empresas.</li>
            {% endfor %}
        </ul>
    </div>
</div>

    <script>
        new Splide( '#splide_id_{{splide_id}}', {
            perPage: 3,
            rewind : true,
            gap: 20,
            breakpoints: {
                1199: {
                    perPage: 2,
                },
                765: {
                    perPage: 1
                },
            }
          } ).mount();

        function favnotfav(event, id_icone, numero_favoritos, id_empresa) {
            event.stopPropagation(); 
            const url = "/empresas/favorita-nao-favorita-empresa/" + id_empresa + "/"
            const icones = document.getElementsByClassName(id_icone);
            const spans_numero = document.getElementsByClassName(numero_favoritos);
            fetch(url, {
                method: "POST",
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json'
                },
            })
            .then(response => response.json())
            .then(data => {
                if(data.status === 'success'){
                    for (let i = 0; i < icones.length; i++) {
                        if(data.message === 'like'){
                            icones[i].src = "{% static 'images/icone-coracao-preenchido.svg' %}";
                            spans_numero[i].innerHTML = 'Curtido'
                        } else {
                            icones[i].src = "{% static 'images/icone-coracao.svg' %}";
                            spans_numero[i].innerHTML = 'Curtir'
                        }
                    }
                }else{
                    alert('Não foi possível favoritar essa empresa, tente novamente mais tarde.');
                }
            })
            .catch(error => {
                alert('Não foi possível favoritar essa empresa, tente novamente mais tarde.');
            });
        }
    </script>