{% load static %}

<h1
    class="
        pl-5
        mb-5
    "
>
    {{ titulo }}
</h1>

{% if not empresas %}
    <h4
        class="pl-5 pb-5"
    >
        Não foram encontradas empresas.
    </h4>
{% else %}
    <div
        id="splide_id_{{splide_id}}"
        class="splide cards-empresa-grid"
    >
        <div
            class="splide__track"
        >
            <ul
                class="splide__list"
            >
                {% for empresa in empresas %}
                    <li
                        class="
                            splide__slide
                            card-empresa-horizontal
                        "
                        onclick="window.location.href='{% url 'visualizar_empresa' empresa.id %}'"
                    >
                        <div
                            class="
                                row
                                no-gutters
                                h-100
                            "
                        >
                            <div
                                class="
                                    col-12 col-sm-6 col-xl-7
                                    agrupamento-imagens
                                "
                            >
                                <img
                                    src="{{ empresa.imagem_perfil.url }}"
                                    alt="imagem perfil empresa {{ empresa.nome_fantasia }}"
                                    class="img-perfil-dashboard-usuario"
                                >
                            </div>
                            <div class="
                                    col-12 col-sm-6 col-xl-5
                                    agrupamento-informacoes
                                "
                            >
                                <div class="nome-fantasia-empresa">
                                    {{ empresa.nome_fantasia }}
                                </div>
                                <div class="descricao-empresa">
                                    {{ empresa.descricao }}
                                </div>
                                <div class="categorias-empresa">
                                    {% for categoria in empresa.categorias.all|slice:":2" %}
                                        {% if forloop.last %}
                                            <div
                                                class="d-flex"
                                            >
                                                <div
                                                    class="categoria-empresa-style"
                                                >
                                                    {{ categoria.descricao }}
                                                </div>
                                                {% if empresa.categorias.all|length > 2 %}
                                                    <div
                                                        class="categoria-empresa-style px-3 ml-3"
                                                    >
                                                        +
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% else %}
                                            <div
                                                class="categoria-empresa-style"
                                            >
                                                {{ categoria.descricao }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div
                                    class="like-empresa"
                                >
                                    <img
                                        class="fav-{{empresa.id}}"
                                        onclick="favnotfav(
                                            event,
                                            'fav-{{empresa.id}}',
                                            'fav-number-{{empresa.id}}',
                                            {{empresa.id}}
                                        )"
                                        {% if empresa.favorito_usuario %}
                                            src="{% static 'images/icone-coracao-preenchido.svg' %}"
                                        {% else %}
                                            src="{% static 'images/icone-coracao.svg' %}"
                                        {% endif %}
                                        alt="Ícone coraçao"
                                        style="cursor: pointer;"
                                        width="25px"
                                        height="25px"
                                    >
                                    <span
                                        class="fav-number-{{empresa.id}}"
                                    >
                                        {% if empresa.favorito_usuario %}
                                            Curtido
                                        {% else %}
                                            Curtir
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

    <script>
        new Splide( '#splide_id_{{splide_id}}', {
            perPage: 2,
            rewind : true,
            gap: 20,
            breakpoints: {
                993: {
                    perPage: 1
                },
            }
          } ).mount();

        function favnotfav(event, id_icone, numero_favoritos, id_empresa) {
            event.stopPropagation(); 
            const url = "/empresas/favorita-nao-favorita-empresa/" + id_empresa + "/"
            const icones = document.getElementsByClassName(id_icone);
            const spans_numero = document.getElementsByClassName(numero_favoritos);
            fetch(url, {
                method: "POST",
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json'
                },
            })
            .then(response => response.json())
            .then(data => {
                if(data.status === 'success'){
                    for (let i = 0; i < icones.length; i++) {
                        if(data.message === 'like'){
                            icones[i].src = "{% static 'images/icone-coracao-preenchido.svg' %}";
                            spans_numero[i].innerHTML = 'Curtido'
                        } else {
                            icones[i].src = "{% static 'images/icone-coracao.svg' %}";
                            spans_numero[i].innerHTML = 'Curtir'
                        }
                    }
                }else{
                    alert('Não foi possível favoritar essa empresa, tente novamente mais tarde.');
                }
            })
            .catch(error => {
                alert('Não foi possível favoritar essa empresa, tente novamente mais tarde.');
            });
        }
    </script>