{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}
    Vi²Mu | Dashboard lojista
{% endblock %}

{% block 'conteudo'%}
    <main>
        <div class="
            main-scrollable
            p-5
        ">
            <div>
                <h1>
                    Visualização avançada dos últimos 30 dias
                </h1>

                <h5
                    class="pt-2 pl-4 text-muted font-bold"
                >
                    Visualização única por usuário e por dia*
                </h5>
            </div>
            {% include 'dashboard-grafico-tempo.html' with dados=grafico_um %}
            {% include 'dashboard-grafico-barras-horizontais.html' with dados=grafico_dois %}
            {% include 'dashboard-grafico-tempo.html' with dados=grafico_tres %}
            {% include 'dashboard-grafico-barras-horizontais.html' with dados=grafico_quatro %}

        </div>
    </main>

{% endblock %}