{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/dashboard-usuario.css' %}">
{% endblock %}

{% block 'titulo' %}
    Vi²Mu | Pesquisar empresas
{% endblock %}

{% block 'conteudo'%}

    <main>
        <div class="main-scrollable">
            <section class="secao secao-busca mb-5">
                <div class="busca">
                    <form
                        class="form-busca"
                        method="GET"
                        action="{% url 'dashboard_usuario' %}"
                    >
                        {% csrf_token %}
                        <input id="pesquisa" name="pesquisa" type="text" placeholder="Nome da loja">
                        <button
                            type="submit"
                        >
                            <img
                                src="{% static 'images/icone-lupa.svg' %}"
                                alt="lupa pesquisa"
                            >
                        </button>
                    </form>
                </div>
            </section>

            {% if messages %}
                {% for i in messages %}   
                    <div class="alert {{i.tags}}" role="alert">
                        {{i}} 
                    </div>
                {% endfor %}
            {% endif %}

            {% if sem_pesquisa %}
                {% include 'dashboard-usuario-splide-produto.html' with produtos=produtos_um splide_id=1 titulo=produtos_um_titulo %}
                {% include 'dashboard-usuario-splide-empresa.html' with empresas=empresas_um splide_id=2 titulo=empresas_um_titulo %}
                {% include 'dashboard-usuario-splide-produto.html' with produtos=produtos_dois splide_id=3 titulo=produtos_dois_titulo %}
                {% include 'dashboard-usuario-splide-empresa.html' with empresas=empresas_dois splide_id=4 titulo=empresas_dois_titulo %}
            {% else %}
                {% include 'dashboard-usuario-splide-empresa.html' with empresas=empresas_um splide_id=1 titulo=empresas_um_titulo %}
                {% include 'dashboard-usuario-splide-produto.html' with produtos=produtos_um splide_id=2 titulo=produtos_um_titulo %}
            {% endif %}

        </div>
    </main>

{% endblock %}