{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block 'titulo' %}
    Vitrine Digital | Home 
{% endblock %}

{% block 'conteudo'%}
    <main>
        <section class="secao hero">
            <div class="container">
                <div class="container-titulo-botoes">
                    <div class="titulo-botoes">
                        <div class="titulo">
                            <p>É consumidor?</p>
                            <h1>Veja o melhor da sua cidade com [NOME]</h1>
                        </div>
                        <div class="botoes">
                            <a class="botao-entrar" href="{% url 'login' %}">Entrar</a>
                            <a class="botao-cadastrar" href="{% url 'cadastro' %}">Cadastrar-se</a>
                        </div>
                    </div>
                </div>
                <div class="ir-para-comerciante">
                    <p>É comerciante? <a href="#comerciante">Cadastre sua loja</a></p>
                    <img src="{% static 'images/seta-direita.svg' %}"  alt="Seta para a direita">
                </div>
            </div>  
        </section>

        <section class="secao" id="comerciante">
            <div class="container">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid eveniet perspiciatis, non quos id debitis distinctio impedit laudantium quam sed omnis quia porro consectetur et maxime dicta voluptatem assumenda! Cupiditate.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid eveniet perspiciatis, non quos id debitis distinctio impedit laudantium quam sed omnis quia porro consectetur et maxime dicta voluptatem assumenda! Cupiditate.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid eveniet perspiciatis, non quos id debitis distinctio impedit laudantium quam sed omnis quia porro consectetur et maxime dicta voluptatem assumenda! Cupiditate.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid eveniet perspiciatis, non quos id debitis distinctio impedit laudantium quam sed omnis quia porro consectetur et maxime dicta voluptatem assumenda! Cupiditate.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid eveniet perspiciatis, non quos id debitis distinctio impedit laudantium quam sed omnis quia porro consectetur et maxime dicta voluptatem assumenda! Cupiditate.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid eveniet perspiciatis, non quos id debitis distinctio impedit laudantium quam sed omnis quia porro consectetur et maxime dicta voluptatem assumenda! Cupiditate.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid eveniet perspiciatis, non quos id debitis distinctio impedit laudantium quam sed omnis quia porro consectetur et maxime dicta voluptatem assumenda! Cupiditate.</p>
            </div>
        </section>
    </main>

    <script>
        document.querySelectorAll('a[href^="#comerciante"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();

                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });
    </script>

{% endblock %}