<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Vitrine Digital</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/header.css">
</head>
<body>
    <header>
        <img src="" alt="Logo da Vitrine Digital">

        <ul>
            <li><a href="">Home</a><div></div></li>
            <li><a href="">Sobre nós</a><div></div></li>
            <li><a href="">Contato</a><div></div></li>
            <li><a href="">Sou comerciante</a><div></div></li>
            <li><a href="">Entrar</a><div></div></li>
        </ul>
    </header>
</body>
</html>