<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/inicio-cliente.css">
</head>
<body>
    
    <!-- <header class="header-logado">
        <img src="" alt="Logo da Vitrine Digital">
    
        <form action="">
            <input type="text">
            <img src="../static/images/icone-lupa.svg" alt="Ícone de lupa">
        </form>
    </header>
    
    <div class="navbar-secoes">
        <aside style="display: none;">
            navbar do cliente
            <ul class="navbar navbar-cliente">
                <li><img src="../static/images/icone-estrela.svg" alt="Ícone de estrela"><span>Empresas favoritas</span></li>
                <li><img src="../static/images/icone-salvar.svg" alt="Ícone de salvos"><span>Produtos salvos</span></li>
                <li><img src="../static/images/icone-lupa.svg" alt="Ícone de lupa"><span>Pesquisar</span></li>
                <li><img src="../static/images/icone-configuracoes.svg" alt="Ícone de configurações"><span>Configurações</span></li>
                <li class="item-navbar-perfil"><div></div><span>Meu perfil</span></li>
            </ul>
            navbar da empresa
            <ul class="navbar navbar-empresa">
                <li><img src="../static/images/icone-estrela.svg" alt="Ícone de estrela"><span>Empresas favoritas</span></li>
                <li><img src="../static/images/icone-salvar.svg" alt="Ícone de salvos"><span>Produtos salvos</span></li>
                <li><img src="../static/images/icone-pesquisar.svg" alt="Ícone de lupa"><span>Pesquisar</span></li>
                <li><img src="../static/images/icone-explorar.svg" alt="Ícone de compasso"><span>Explorar outras empresas</span></li>
                <li><img src="../static/images/icone-configuracoes.svg" alt="Ícone de configurações"><span>Configurações</span></li>
                <li class="item-navbar-perfil"><div></div><span>Meu perfil</span></li>
                <li class="item-navbar-perfil"><div></div><span>Perfil da empresa</span></li>
            </ul>
        </aside>
        
        <div class="secoes" style="display: none;">
            <section>
                <h2>Empresas favoritas</h2>
                <p>Suas empresas favoritas aparecerão aqui</p>
            </section>
            <hr>
            <section class="empresas-recomendadas">
                <h2>Empresas recomendadas</h2>
                <div class="card-empresa">
                    <div class="img-capa"></div>
                    <div class="textos">
                        <p class="nome">Nome da empresa</p>
                        <p class="descricao">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam incidunt maxime quidem! Necessitatibus repudiandae veritatis nisi quis. Incidunt alias natus dignissimos sed ratione atque, temporibus, quod expedita sit earum quis.
                        </p>
                        <div class="categoria-favoritos">
                            <div class="categoria">Categoria</div>
                            <div class="favoritos">
                                <img src="../static/images/icone-estrela.svg" alt="Ícone estrela">
                                <span>1.3K</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr>
        </div>
    </div> -->

    <div class="container-inicio">
        <aside id="sidebar">
            <input type="checkbox" id="toggler">
            <label for="toggler" class="toggle-btn">
                <img src="../static/images/icone-grid.svg" alt="">
                <span>Vitrine Digital</span>
            </label>
            <form action="#" class="search-bar">
                <span class="search-icon">
                    <img src="../static/images/icone-lupa.svg" alt="">
                </span>
                <input type="text" class="search-query" placeholder="Search...">
            </form>

            <!-- sidebar navigation begins -->
             <ul class="sidebar-nav">
                <div class="sidebar-nav-items">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <img src="../static/images/icone-estrela.svg" alt="">
                            <span>Lojas favoritas</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <img src="../static/images/icone-salvar.svg" alt="">
                            <span>Produtos salvos</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <img src="../static/images/icone-lupa.svg" alt="">
                            <span>Pesquisar lojas</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <img src="../static/images/icone-configuracoes.svg" alt="">
                            <span>Configurações</span>
                        </a>
                    </li>
                </div>
             </ul>
             <!-- sidebar navigation ends -->
            <div class="sidebar-footer">
            <div class="sidebar-footer-items">
                <a href="#" class="sidebar-link profile-btn">
                    <div class="sidebar-profile-pic"></div>
                    <span>Meu perfil</span>
                </a>
                <a href="#" class="sidebar-link my-companies-btn">
                    <img src="../static/images/icone-maleta.svg" alt="">
                    <span>Minhas empresas</span>
                </a>
            </div>
              </div>
        </aside>

        <div class="main">
            <div class="main-scrollable">
                <section>
                    <h2>Lojas favoritas</h2>
                    <p>Suas lojas favoritas aparecerão aqui</p>
                </section>
                <hr>
                <section>
                    <h2>Lojas em alta</h2>
                    <div class="card card-empresa">
                        <div class="img-capa"></div>
                        <div class="textos">
                            <p class="nome">Nome da empresa</p>
                            <p class="descricao">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam incidunt maxime quidem! Necessitatibus repudiandae veritatis nisi quis. Incidunt alias natus dignissimos sed ratione atque, temporibus, quod expedita sit earum quis.
                            </p>
                            <div class="categoria-favoritos">
                                <div class="categoria">Categoria</div>
                                <div class="favoritos">
                                    <img src="../static/images/icone-estrela.svg" alt="Ícone estrela">
                                    <span>1.3K</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <section>
                    <h2>Produtos salvos</h2>
                    <div class="card card-produto">
                        <div class="img-capa"></div>
                        <div class="textos">
                            <p class="nome">Nome do produto</p>
                            <p class="loja">
                                Nome da loja
                            </p>
                            <div class="preco-disponibilidade">
                                <!-- <div class="categoria">Categoria</div> -->
                                 <div class="preco">R$ 299,90</div>
                                <div class="disponibilidade">
                                    <span>Indisponível</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            
        </div>
    </div>
</body>
</html>


