<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/inicio.css">
    <link rel="stylesheet" href="../static/css/header.css">
</head>
<body>
    
    <header class="header-logado">
        <img src="" alt="Logo da Vitrine Digital">
    
        <form action="">
            <input type="text">
            <img src="../static/images/icone-lupa.svg" alt="Ícone de lupa">
        </form>
    </header>
    
    <div class="navbar-secoes">
        <aside>
            <!-- navbar do cliente -->
            <ul class="navbar navbar-cliente">
                <li>Empresas favoritas</li>
                <li>Produtos salvos</li>
                <li>Pesquisar</li>
                <li>Configurações</li>
                <li>Perfil</li>
            </ul>
            <!-- narvar da empresa -->
            <ul class="navbar navbar-empresa">
                <li>Empresas favoritas</li>
                <li>Produtos salvos</li>
                <li>Pesquisar</li>
                <li>Explorar outras empresas</li>
                <li>Configurações</li>
                <li>Perfil</li>
            </ul>
        </aside>
        
        <div class="secoes">
            <section>
                <h2>Empresas favoritas</h2>
                <p>Suas empresas favoritas aparecerão aqui</p>
            </section>
            <hr>
            <section class="empresas-recomendadas">
                <h2>Empresas recomendadas</h2>
                <div class="card-empresa">
                    <div class="img-capa"></div>
                    <div class="textos">
                        <p class="nome">Nome da empresa</p>
                        <p class="descricao">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam incidunt maxime quidem! Necessitatibus repudiandae veritatis nisi quis. Incidunt alias natus dignissimos sed ratione atque, temporibus, quod expedita sit earum quis.
                        </p>
                        <div class="categoria-favoritos">
                            <div class="categoria">Esportes</div>
                            <div class="favoritos">
                                <img src="../static/images/icone-estrela.svg" alt="Ícone estrela">
                                <span>1.3K</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr>
        </div>
    </div>
</body>
</html>


