{% extends 'base.html' %}

{% block 'head' %}
    <link rel="stylesheet" href="../static/css/perfil-loja.css">
{% endblock %}

{% block 'titulo' %}
    Vitrine Digital | Perfil da loja
{% endblock %}

{% block 'conteudo'%}

    <div class="container-inicio">
        <main>
            <div class="main-scrollable">
                <section class="perfil">
                    <div class="img-capa"></div>
                    <div class="img-perfil"></div>

                    <div class="informacoes">
                        <div class="nome-categorias">
                            <h1>Nome da loja</h1>
                            <div class="categorias">
                                <span>Nome da categoria</span>
                                <span>Nome da categoria</span>
                                <span>Nome da categoria</span>
                                <span>Nome da categoria</span>
                            </div>
                        </div>
                        <div class="endereco"><span>Rua tal, 000, Bairro tal</span><span>Cidade - Estado</span></div>
                        <div>Horário de funcionamento</div>
                        <div class="contato">
                            <span class="email">empresa@empresa.com</span>
                            <span class="numero">(51) 99999-9999</span>
                        </div>
                    </div>
                    
                </section>

                <section class="produtos">
                    <div class="destaques">
                        <h2>Destaques</h2>
                        <!-- <div class="conteudo"> -->
                            <div class="carrossel">
                                <div class="card card-produto">
                                    <div class="img-capa"></div>
                                    <div class="textos">
                                        <p class="nome">Nome do produto</p>
                                        <div class="preco-disponibilidade">
                                            <!-- <div class="categoria">Categoria</div> -->
                                                <div class="preco">R$ 299,90</div>
                                            <div class="disponibilidade">
                                                <span>Indisponível</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="card card-produto">
                                    <div class="img-capa"></div>
                                    <div class="textos">
                                        <p class="nome">Nome do produto</p>
                                        <div class="preco-disponibilidade">
                                            <!-- <div class="categoria">Categoria</div> -->
                                                <div class="preco">R$ 299,90</div>
                                            <div class="disponibilidade">
                                                <span>Indisponível</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="card card-produto">
                                    <div class="img-capa"></div>
                                    <div class="textos">
                                        <p class="nome">Nome do produto</p>
                                        <div class="preco-disponibilidade">
                                            <!-- <div class="categoria">Categoria</div> -->
                                                <div class="preco">R$ 299,90</div>
                                            <div class="disponibilidade">
                                                <span>Indisponível</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="card card-produto">
                                    <div class="img-capa"></div>
                                    <div class="textos">
                                        <p class="nome">Nome do produto</p>
                                        <div class="preco-disponibilidade">
                                            <!-- <div class="categoria">Categoria</div> -->
                                                <div class="preco">R$ 299,90</div>
                                            <div class="disponibilidade">
                                                <span>Indisponível</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="card card-produto">
                                    <div class="img-capa"></div>
                                    <div class="textos">
                                        <p class="nome">Nome do produto</p>
                                        <div class="preco-disponibilidade">
                                            <!-- <div class="categoria">Categoria</div> -->
                                                <div class="preco">R$ 299,90</div>
                                            <div class="disponibilidade">
                                                <span>Indisponível</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="card card-produto">
                                    <div class="img-capa"></div>
                                    <div class="textos">
                                        <p class="nome">Nome do produto</p>
                                        <div class="preco-disponibilidade">
                                            <!-- <div class="categoria">Categoria</div> -->
                                                <div class="preco">R$ 299,90</div>
                                            <div class="disponibilidade">
                                                <span>Indisponível</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        <!-- </div> -->
                    </div>

                    <div class="todos">
                        <h2>Todos os produtos</h2>
                        <div class="todos-produtos">
                            <div class="card card-produto">
                                <div class="img-capa"></div>
                                <div class="textos">
                                    <p class="nome">Nome do produto</p>
                                    <div class="preco-disponibilidade">
                                        <!-- <div class="categoria">Categoria</div> -->
                                            <div class="preco">R$ 299,90</div>
                                        <div class="disponibilidade">
                                            <span>Indisponível</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card card-produto">
                                <div class="img-capa"></div>
                                <div class="textos">
                                    <p class="nome">Nome do produto</p>
                                    <div class="preco-disponibilidade">
                                        <!-- <div class="categoria">Categoria</div> -->
                                            <div class="preco">R$ 299,90</div>
                                        <div class="disponibilidade">
                                            <span>Indisponível</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card card-produto">
                                <div class="img-capa"></div>
                                <div class="textos">
                                    <p class="nome">Nome do produto</p>
                                    <div class="preco-disponibilidade">
                                        <!-- <div class="categoria">Categoria</div> -->
                                            <div class="preco">R$ 299,90</div>
                                        <div class="disponibilidade">
                                            <span>Indisponível</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card card-produto">
                                <div class="img-capa"></div>
                                <div class="textos">
                                    <p class="nome">Nome do produto</p>
                                    <div class="preco-disponibilidade">
                                        <!-- <div class="categoria">Categoria</div> -->
                                            <div class="preco">R$ 299,90</div>
                                        <div class="disponibilidade">
                                            <span>Indisponível</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card card-produto">
                                <div class="img-capa"></div>
                                <div class="textos">
                                    <p class="nome">Nome do produto</p>
                                    <div class="preco-disponibilidade">
                                        <!-- <div class="categoria">Categoria</div> -->
                                            <div class="preco">R$ 299,90</div>
                                        <div class="disponibilidade">
                                            <span>Indisponível</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card card-produto">
                                <div class="img-capa"></div>
                                <div class="textos">
                                    <p class="nome">Nome do produto</p>
                                    <div class="preco-disponibilidade">
                                        <!-- <div class="categoria">Categoria</div> -->
                                            <div class="preco">R$ 299,90</div>
                                        <div class="disponibilidade">
                                            <span>Indisponível</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card card-produto">
                                <div class="img-capa"></div>
                                <div class="textos">
                                    <p class="nome">Nome do produto</p>
                                    <div class="preco-disponibilidade">
                                        <!-- <div class="categoria">Categoria</div> -->
                                            <div class="preco">R$ 299,90</div>
                                        <div class="disponibilidade">
                                            <span>Indisponível</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card card-produto">
                                <div class="img-capa"></div>
                                <div class="textos">
                                    <p class="nome">Nome do produto</p>
                                    <div class="preco-disponibilidade">
                                        <!-- <div class="categoria">Categoria</div> -->
                                            <div class="preco">R$ 299,90</div>
                                        <div class="disponibilidade">
                                            <span>Indisponível</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card card-produto">
                                <div class="img-capa"></div>
                                <div class="textos">
                                    <p class="nome">Nome do produto</p>
                                    <div class="preco-disponibilidade">
                                        <!-- <div class="categoria">Categoria</div> -->
                                            <div class="preco">R$ 299,90</div>
                                        <div class="disponibilidade">
                                            <span>Indisponível</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card card-produto">
                                <div class="img-capa"></div>
                                <div class="textos">
                                    <p class="nome">Nome do produto</p>
                                    <div class="preco-disponibilidade">
                                        <!-- <div class="categoria">Categoria</div> -->
                                            <div class="preco">R$ 299,90</div>
                                        <div class="disponibilidade">
                                            <span>Indisponível</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card card-produto">
                                <div class="img-capa"></div>
                                <div class="textos">
                                    <p class="nome">Nome do produto</p>
                                    <div class="preco-disponibilidade">
                                        <!-- <div class="categoria">Categoria</div> -->
                                            <div class="preco">R$ 299,90</div>
                                        <div class="disponibilidade">
                                            <span>Indisponível</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            
        </main>
    </div>

{% endblock %}