<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitrine Digital | Perfil da loja</title>
    <link rel="stylesheet" href="../static/css/perfil-loja.css">
</head>
<body>
    <div class="container-inicio">
        
        <!-- INÍCIO SIDEBAR -->
        <aside id="sidebar">
            <input type="checkbox" id="toggler">
            <label for="toggler" class="toggle-btn">
                <img src="../../vitrine_digital/static/images/icone-grid.svg" alt="">
                <span>Vitrine Digital</span>
            </label>
            <form action="#" class="search-bar">
                <span class="search-icon">
                    <img src="../../vitrine_digital/static/images/icone-lupa.svg" alt="">
                </span>
                <input type="text" class="search-query" placeholder="Search...">
            </form>

            <!-- sidebar navigation begins -->
             <ul class="sidebar-nav">
                <div class="sidebar-nav-items">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <img src="../../vitrine_digital/static/images/icone-estrela.svg" alt="">
                            <span>Lojas favoritas</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <img src="../../vitrine_digital/static/images/icone-salvar.svg" alt="">
                            <span>Produtos salvos</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <img src="../../vitrine_digital/static/images/icone-lupa.svg" alt="">
                            <span>Pesquisar lojas</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <img src="../../vitrine_digital/static/images/icone-maleta.svg" alt="">
                            <span>Para lojas</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <img src="../../vitrine_digital/static/images/icone-configuracoes.svg" alt="">
                            <span>Configurações</span>
                        </a>
                    </li>
                </div>
             </ul>
             <!-- sidebar navigation ends -->
                <div class="sidebar-footer">
                <div class="sidebar-footer-items">
                    <a href="#" class="sidebar-link profile-btn">
                        <div class="sidebar-profile-pic"></div>
                        <span>Meu perfil</span>
                    </a>
                    <a href="#" class="sidebar-link my-companies-btn">
                        <img src="../../vitrine_digital/static/images/icone-maleta.svg" alt="">
                        <span>Minhas empresas</span>
                    </a>
                </div>
              </div>
        </aside>
        <!-- FIM SIDEBAR -->

        <main>
            <div class="main-scrollable">
                <section class="perfil">
                    <div class="img-capa"></div>
                    <div class="img-perfil"></div>

                    <div class="informacoes">
                        <div class="nome-categorias">
                            <h1>Nome da loja</h1>
                            <div class="categorias">
                                <span>Nome da categoria</span>
                                <span>Nome da categoria</span>
                                <span>Nome da categoria</span>
                                <span>Nome da categoria</span>
                            </div>
                        </div>
                        <div class="endereco"><span>Rua tal, 000, Bairro tal</span><span>Cidade - Estado</span></div>
                        <div>Horário de funcionamento</div>
                        <div class="contato">
                            <span class="email">empresa@empresa.com</span>
                            <span class="numero">(51) 99999-9999</span>
                        </div>
                    </div>
                    
                </section>

                <section class="produtos">
                    <div class="destaques">
                        <h2>Destaques</h2>
                        <!-- <div class="conteudo"> -->
                            <div class="carrossel">
                                <div class="card card-produto">
                                    <div class="img-capa"></div>
                                    <div class="textos">
                                        <p class="nome">Nome do produto</p>
                                        <div class="preco-disponibilidade">
                                            <!-- <div class="categoria">Categoria</div> -->
                                             <div class="preco">R$ 299,90</div>
                                            <div class="disponibilidade">
                                                <span>Indisponível</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="card card-produto">
                                    <div class="img-capa"></div>
                                    <div class="textos">
                                        <p class="nome">Nome do produto</p>
                                        <div class="preco-disponibilidade">
                                            <!-- <div class="categoria">Categoria</div> -->
                                             <div class="preco">R$ 299,90</div>
                                            <div class="disponibilidade">
                                                <span>Indisponível</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="card card-produto">
                                    <div class="img-capa"></div>
                                    <div class="textos">
                                        <p class="nome">Nome do produto</p>
                                        <div class="preco-disponibilidade">
                                            <!-- <div class="categoria">Categoria</div> -->
                                             <div class="preco">R$ 299,90</div>
                                            <div class="disponibilidade">
                                                <span>Indisponível</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="card card-produto">
                                    <div class="img-capa"></div>
                                    <div class="textos">
                                        <p class="nome">Nome do produto</p>
                                        <div class="preco-disponibilidade">
                                            <!-- <div class="categoria">Categoria</div> -->
                                             <div class="preco">R$ 299,90</div>
                                            <div class="disponibilidade">
                                                <span>Indisponível</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="card card-produto">
                                    <div class="img-capa"></div>
                                    <div class="textos">
                                        <p class="nome">Nome do produto</p>
                                        <div class="preco-disponibilidade">
                                            <!-- <div class="categoria">Categoria</div> -->
                                             <div class="preco">R$ 299,90</div>
                                            <div class="disponibilidade">
                                                <span>Indisponível</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="card card-produto">
                                    <div class="img-capa"></div>
                                    <div class="textos">
                                        <p class="nome">Nome do produto</p>
                                        <div class="preco-disponibilidade">
                                            <!-- <div class="categoria">Categoria</div> -->
                                             <div class="preco">R$ 299,90</div>
                                            <div class="disponibilidade">
                                                <span>Indisponível</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        <!-- </div> -->
                    </div>

                    <div class="todos">
                        <h2>Todos os produtos</h2>
                        <div class="todos-produtos">
                            <div class="card card-produto">
                                <div class="img-capa"></div>
                                <div class="textos">
                                    <p class="nome">Nome do produto</p>
                                    <div class="preco-disponibilidade">
                                        <!-- <div class="categoria">Categoria</div> -->
                                         <div class="preco">R$ 299,90</div>
                                        <div class="disponibilidade">
                                            <span>Indisponível</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card card-produto">
                                <div class="img-capa"></div>
                                <div class="textos">
                                    <p class="nome">Nome do produto</p>
                                    <div class="preco-disponibilidade">
                                        <!-- <div class="categoria">Categoria</div> -->
                                         <div class="preco">R$ 299,90</div>
                                        <div class="disponibilidade">
                                            <span>Indisponível</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card card-produto">
                                <div class="img-capa"></div>
                                <div class="textos">
                                    <p class="nome">Nome do produto</p>
                                    <div class="preco-disponibilidade">
                                        <!-- <div class="categoria">Categoria</div> -->
                                         <div class="preco">R$ 299,90</div>
                                        <div class="disponibilidade">
                                            <span>Indisponível</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card card-produto">
                                <div class="img-capa"></div>
                                <div class="textos">
                                    <p class="nome">Nome do produto</p>
                                    <div class="preco-disponibilidade">
                                        <!-- <div class="categoria">Categoria</div> -->
                                         <div class="preco">R$ 299,90</div>
                                        <div class="disponibilidade">
                                            <span>Indisponível</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card card-produto">
                                <div class="img-capa"></div>
                                <div class="textos">
                                    <p class="nome">Nome do produto</p>
                                    <div class="preco-disponibilidade">
                                        <!-- <div class="categoria">Categoria</div> -->
                                         <div class="preco">R$ 299,90</div>
                                        <div class="disponibilidade">
                                            <span>Indisponível</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card card-produto">
                                <div class="img-capa"></div>
                                <div class="textos">
                                    <p class="nome">Nome do produto</p>
                                    <div class="preco-disponibilidade">
                                        <!-- <div class="categoria">Categoria</div> -->
                                         <div class="preco">R$ 299,90</div>
                                        <div class="disponibilidade">
                                            <span>Indisponível</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card card-produto">
                                <div class="img-capa"></div>
                                <div class="textos">
                                    <p class="nome">Nome do produto</p>
                                    <div class="preco-disponibilidade">
                                        <!-- <div class="categoria">Categoria</div> -->
                                         <div class="preco">R$ 299,90</div>
                                        <div class="disponibilidade">
                                            <span>Indisponível</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card card-produto">
                                <div class="img-capa"></div>
                                <div class="textos">
                                    <p class="nome">Nome do produto</p>
                                    <div class="preco-disponibilidade">
                                        <!-- <div class="categoria">Categoria</div> -->
                                         <div class="preco">R$ 299,90</div>
                                        <div class="disponibilidade">
                                            <span>Indisponível</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card card-produto">
                                <div class="img-capa"></div>
                                <div class="textos">
                                    <p class="nome">Nome do produto</p>
                                    <div class="preco-disponibilidade">
                                        <!-- <div class="categoria">Categoria</div> -->
                                         <div class="preco">R$ 299,90</div>
                                        <div class="disponibilidade">
                                            <span>Indisponível</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card card-produto">
                                <div class="img-capa"></div>
                                <div class="textos">
                                    <p class="nome">Nome do produto</p>
                                    <div class="preco-disponibilidade">
                                        <!-- <div class="categoria">Categoria</div> -->
                                         <div class="preco">R$ 299,90</div>
                                        <div class="disponibilidade">
                                            <span>Indisponível</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card card-produto">
                                <div class="img-capa"></div>
                                <div class="textos">
                                    <p class="nome">Nome do produto</p>
                                    <div class="preco-disponibilidade">
                                        <!-- <div class="categoria">Categoria</div> -->
                                         <div class="preco">R$ 299,90</div>
                                        <div class="disponibilidade">
                                            <span>Indisponível</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            
        </main>
    </div>
</body>
</html>