{% extends 'base.html' %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    <link rel="stylesheet" href="{% static 'css/body-main.css' %}">
    <link rel="stylesheet" href="{% static 'css/pesquisar-empresas.css' %}">
{% endblock %}

{% block 'titulo' %}
    Vitrine Digital | Produtos salvos
{% endblock %}

{% block 'conteudo'%}

    <main>
        <div class="main-scrollable">
            <section>
                <div class="busca">
                    <form action="" class="form-busca">
                        <input type="text" placeholder="Nome da loja">
                        <button type="submit"><img src="{% static 'images/icone-lupa.svg' %}" alt="">
                        </button>
                    </form>
                    <div class="categorias">
                        <div class="wrapper-categoria">
                            <input type="checkbox"class="checkbox-categoria">
                            <label class="label-categoria">
                                Categoria tal
                            </label>
                        </div>
                        <div class="wrapper-categoria">
                            <input type="checkbox"class="checkbox-categoria">
                            <label class="label-categoria">
                                Categoria tal
                            </label>
                        </div>
                        <div class="wrapper-categoria">
                            <input type="checkbox"class="checkbox-categoria">
                            <label class="label-categoria">
                                Categoria tal
                            </label>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="todos-cards">
                    <div class="card card-empresa">
                        <div class="img-perfil"></div>
                        <div class="img-capa"></div>
                        <div class="textos">
                            <p class="nome">Nome da empresa</p>
                            <p class="descricao">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam incidunt maxime quidem! Necessitatibus repudiandae veritatis nisi quis. Incidunt alias natus dignissimos sed ratione atque, temporibus, quod expedita sit earum quis.
                            </p>
                            <div class="categoria-favoritos">
                                <div class="categoria">Categoria</div>
                                <div class="favoritos">
                                    <img src="{% static 'images/icone-coracao.svg' %}" alt="Ícone estrela">
                                    <span>1.3K</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-empresa">
                        <div class="img-perfil"></div>
                        <div class="img-capa"></div>
                        <div class="textos">
                            <p class="nome">Nome da empresa</p>
                            <p class="descricao">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam incidunt maxime quidem! Necessitatibus repudiandae veritatis nisi quis. Incidunt alias natus dignissimos sed ratione atque, temporibus, quod expedita sit earum quis.
                            </p>
                            <div class="categoria-favoritos">
                                <div class="categoria">Categoria</div>
                                <div class="favoritos">
                                    <img src="{% static 'images/icone-coracao.svg' %}" alt="Ícone estrela">
                                    <span>1.3K</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-empresa">
                        <div class="img-perfil"></div>
                        <div class="img-capa"></div>
                        <div class="textos">
                            <p class="nome">Nome da empresa</p>
                            <p class="descricao">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam incidunt maxime quidem! Necessitatibus repudiandae veritatis nisi quis. Incidunt alias natus dignissimos sed ratione atque, temporibus, quod expedita sit earum quis.
                            </p>
                            <div class="categoria-favoritos">
                                <div class="categoria">Categoria</div>
                                <div class="favoritos">
                                    <img src="{% static 'images/icone-coracao.svg' %}" alt="Ícone estrela">
                                    <span>1.3K</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-empresa">
                        <div class="img-perfil"></div>
                        <div class="img-capa"></div>
                        <div class="textos">
                            <p class="nome">Nome da empresa</p>
                            <p class="descricao">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam incidunt maxime quidem! Necessitatibus repudiandae veritatis nisi quis. Incidunt alias natus dignissimos sed ratione atque, temporibus, quod expedita sit earum quis.
                            </p>
                            <div class="categoria-favoritos">
                                <div class="categoria">Categoria</div>
                                <div class="favoritos">
                                    <img src="{% static 'images/icone-coracao.svg' %}" alt="Ícone estrela">
                                    <span>1.3K</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-empresa">
                        <div class="img-perfil"></div>
                        <div class="img-capa"></div>
                        <div class="textos">
                            <p class="nome">Nome da empresa</p>
                            <p class="descricao">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam incidunt maxime quidem! Necessitatibus repudiandae veritatis nisi quis. Incidunt alias natus dignissimos sed ratione atque, temporibus, quod expedita sit earum quis.
                            </p>
                            <div class="categoria-favoritos">
                                <div class="categoria">Categoria</div>
                                <div class="favoritos">
                                    <img src="{% static 'images/icone-coracao.svg' %}" alt="Ícone estrela">
                                    <span>1.3K</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-empresa">
                        <div class="img-perfil"></div>
                        <div class="img-capa"></div>
                        <div class="textos">
                            <p class="nome">Nome da empresa</p>
                            <p class="descricao">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam incidunt maxime quidem! Necessitatibus repudiandae veritatis nisi quis. Incidunt alias natus dignissimos sed ratione atque, temporibus, quod expedita sit earum quis.
                            </p>
                            <div class="categoria-favoritos">
                                <div class="categoria">Categoria</div>
                                <div class="favoritos">
                                    <img src="{% static 'images/icone-coracao.svg' %}" alt="Ícone estrela">
                                    <span>1.3K</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-empresa">
                        <div class="img-perfil"></div>
                        <div class="img-capa"></div>
                        <div class="textos">
                            <p class="nome">Nome da empresa</p>
                            <p class="descricao">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam incidunt maxime quidem! Necessitatibus repudiandae veritatis nisi quis. Incidunt alias natus dignissimos sed ratione atque, temporibus, quod expedita sit earum quis.
                            </p>
                            <div class="categoria-favoritos">
                                <div class="categoria">Categoria</div>
                                <div class="favoritos">
                                    <img src="{% static 'images/icone-coracao.svg' %}" alt="Ícone estrela">
                                    <span>1.3K</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <script>        
        // const checkboxCategorias = document.querySelectorAll('.checkbox-categoria');

        // i = 1;

        // checkboxCategorias.forEach(cc => {
        //     cc.id = `checkbox-categoria-${i}`;
        //     i++;
        //     console.log(cc);
        // })


        const wrapperCategoria = document.querySelectorAll('.wrapper-categoria');
        
        let i = 1;
        
        wrapperCategoria.forEach(w => {
            const checkbox = w.querySelector('.checkbox-categoria');
            const label = w.querySelector('.label-categoria');
            
            const id = `checkbox-categoria-${i}`;

            checkbox.id = id;
            label.htmlFor = id;
            console.log(checkbox, label);
            i++;
        })
    </script>

{% endblock %}