    .main-scrollable {
        gap: 0 !important;
    }
    
    section {
        gap: var(--spc-300);
        padding-top: 30px !important;

        &.secao-busca {
            padding-bottom: 0;
        }

        & .busca {
            display: flex;
            flex-flow: column;
            gap: var(--spc-500);
            align-items: center;
            
            & .form-busca {
                background-color: white;
                border-radius: 100vw;
                max-width: 70rem;
                width: 90%;
                display: flex;
                flex-flow: row;
                gap: var(--spc-400);
                justify-content: space-between;
                padding: var(--spc-100) var(--spc-400);
                border: solid 1px #ccc;
                
                & input {
                    all: unset;
                    width: 100%;
                }
                
                & button {
                    all: unset;
                    width: max-content;
                    cursor: pointer;
                }
            }
        }
    }

    .cards-empresa-grid {
        padding: 0 6rem 4rem 6rem;
        margin-bottom: 1rem;
    }

    .card-empresa-horizontal {
        min-height: 210px;
        border-radius: 5%;
        border: 1px solid #ccc;
        cursor: pointer;

        @media (max-width: 576px) {
            min-height: 450px;
        }
    }

    .agrupamento-imagens {
        max-height: 100%;
        max-width: 100%;
        border-radius: 6% 0 0 6%;
        overflow: hidden;
        position: relative;

        @media (max-width: 576px) {
            border-radius: 6% 6% 0 0;
            height: 50%;
        }
    }
    
    .img-perfil-dashboard-usuario {
        position: absolute;
        width: 125%;
        height: 125%;
        top: -15%;
        left: -15%;
        object-fit: cover;
        transition: transform 0.2s ease-out;
    }

    .img-perfil-dashboard-usuario:hover {
        animation: moveCamera 12s infinite linear;
    }
    
    .agrupamento-informacoes{
        padding: 20px !important;
        margin: auto;

        @media (max-width: 576px) {
            height: 50%;
            align-content: center;
        }
    }

    .nome-fantasia-empresa {
        font-size: 18px;
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .descricao-empresa {
        font-size: 12px;
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-top: 5px;
        margin-bottom: 10px;

        @media (max-width: 576px) {
            min-height: 50px;
        }
    }

    .categorias-empresa {
        font-size: 12px;

        @media (max-width: 576px) {
            justify-items: center;
        }

        .categoria-empresa-style {
            background-color: #FFF5B7;
            color: #3A6073;
            font-weight: 600;
            border-radius: 0.5rem;
            padding: 5px;
            margin-bottom: 5px;

            width: fit-content;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    .like-empresa {
        margin-top: 20px;

        img {
            height: 25px;
            width: 25px;
        }
    }

    .splide__pagination__page{
        background: #ccc !important;
    }

    @media (max-width: 992px) {
        .categorias-empresa {
            font-size: 12px;
        }
    }

    @media (max-width: 768px) {
        .like-empresa {
            margin-top: 15px;
        }
    }

    @media (max-width: 576px) {
        .descricao-empresa {
            font-size: 12px;
            font-weight: 600;
        }

        .like-empresa {
            margin-top: 10px;
            text-align: center;
        }
    }

.disponibilidade {
    padding: 0 5px;
    color:  rgb(111, 166, 111);
    background-color: rgb(195, 235, 195);
    border-radius: 0.5rem;
}

.disponibilidade.indisponivel {
    background-color: #C39BD3;
    color: white;
}

.disponibilidade.disponivel {
    background-color: rgb(207, 255, 207);
    color: rgb(63, 160, 63);
}

.disponibilidade.sem-estoque {
    background-color: #777;
    color: whitesmoke;
}
