@import url("../../../vitrine_digital/static/css/global.css");


header {
    padding: var(--spc-500) var(--spc-600);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-image: radial-gradient(circle at bottom, hsl(264, 100%, 90%) 0%, rgba(242,248,255,1) 100%);
    backdrop-filter: blur(5px);
    /* max-height: 15rem; */
    width: 100%;

    & .container {
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
    }

    & ul {
        display: flex;
        gap: 2.5rem;
        list-style: none;

        & li {
            width: max-content;
            display: flex;
            flex-flow: column;
            gap: 0.5rem;
            
            & a {
                font-weight: 300;
                
                &:focus, &:visited {
                    
                }
                
                &:hover, &:active {
                    
                }
            }

            & div {
                width: 0;
                transition: 500ms ease;
                background-color: #cfb2ff;
                height: 2px;
            }

            &:hover div {
                width: 100%;
            }
        }
    }
}