section {
    gap: var(--spc-700);

    & .busca {
        display: flex;
        flex-flow: column;
        gap: var(--spc-500);
        align-items: center;
        
        & .form-busca {
            background-color: white;
            border-radius: 100vw;
            max-width: 70rem;
            width: 90%;
            display: flex;
            gap: var(--spc-400);
            justify-content: space-between;
            padding: var(--spc-100) var(--spc-400);
            
            & input {
                all: unset;
            }
            
            & button {
                all: unset;
            }
        }

        & .categorias {
            display: flex;
            flex-flow: row wrap;
            gap: var(--spc-300);

            & .wrapper-categoria {
                & input[id^="checkbox-categoria-"] {
                    display: none;

                    &:checked~label {
                        background-color: pink;
                    }
                }
                
                & label {
                    padding: var(--spc-100) var(--spc-400);
                    border-radius: 100vh;
                    cursor: pointer;
                    transition: background-color 0.2s ease;
                }

            }
        }
    }
    
    & .todos-cards {
        display: flex;
        flex-flow: row wrap;
        gap: var(--spc-600);

        & .card-botao {
            position: relative;
            overflow: visible !important;
            width: max-content;
            height: max-content;
            
            & .botao-excluir {
                all: unset;
                cursor: pointer;
                position: absolute;
                top: -1rem;
                right: -1rem;
                width: 2.5rem;
                aspect-ratio: 1;
                border-radius: 100vw;
                padding: var(--spc-70);
                background-color: red;
                color: white;
                display: grid;
                place-items: center;
                z-index: 1;
                font-family: inherit;

                display: none;

                & img {
                    width:fit-content;
                }
            }
        }
    }

}
