body {
    /* font-family: 'Poppins', sans-serif; */

    /* background-image: radial-gradient(#e66465, #9198e5); */
    /* background: radial-gradient(circle at center, #f2f2f2, #e0e0e0); */
    /* background: radial-gradient(circle at center, #282828, #333333); */
    /* background: radial-gradient(#e6e6e6, #ffffff); */
    /* background: radial-gradient(circle at center, #9a3ffb, #ebebeb); */
    /* background: radial-gradient(circle at center, rgba(154,63,251,0.6), #ebebeb); */
    /* background: radial-gradient(circle at center, rgba(154, 63, 251, 0.24), #ebebeb); */
    background: radial-gradient(circle at center, #eeaeca, #94bbe9);
    /* background: radial-gradient(circle at 30% 50%, rgba(172,211,255,1) 0%, rgba(242,248,255,1) 100%); */
    overflow: hidden;

    & .container-inicio {
        display: flex;
        /* position: relative; */
        max-height: 100vh;
        overflow: hidden;
    }

    /* & .main { */
    & main {
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        max-height: 100vh;
        
        width: 100%;
        overflow: hidden;
        /* padding: 1.5rem; */
        /* justify-content: center; */
        /* align-items: center; */
        
        overflow-y: hidden;
        
        & .main-scrollable {
            overflow-y: scroll;
            max-height: 100vh;
            width: 100%;
            padding: 15px 15px;
            display: flex;
            flex-flow: column;
            gap: var(--spc-700);
            background: radial-gradient(circle at center, hsl(264, 100%, 90%) 0%, rgba(242,248,255,1) 100%);
            /* https://cssgradient.io/ */

            height: 100%;

            /* adicionei depois, testar */
            position: relative;

            &::-webkit-scrollbar-track {
                background-color: transparent;
            }
            
            &::-webkit-scrollbar-thumb {
                background-color: #d6dee1;
                border-radius: 20px;
                border: 6px solid transparent;
                background-clip: content-box;
            }

            &::-webkit-scrollbar-thumb:hover {
                background-color: #a8bbbf;
            }
        }

        & section {
            width: 100%;
            display: flex;
            flex-flow: column;
            gap: var(--spc-500);
        }

        & hr {
            all: unset;
            /* border-color: rgba(255, 255, 255, 0.5);
            color: rgba(255, 255, 255, 0.5); */
            border: solid 1px rgba(255, 255, 255, 0.3);
            border-radius: 100vw;
        }
    }
}