body {
    overflow: hidden;

    & .container-inicio {
        display: flex;
        max-height: 100vh;
        overflow: hidden;
    }

    & main {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        max-height: 100vh;
        width: 100%;
        overflow: hidden;
        overflow-y: hidden;
        overflow-x: hidden;
        
        & .main-scrollable {
            overflow-y: scroll;
            overflow-x: hidden;
            max-height: 100vh;
            width: 100%;
            /* padding: var(--spc-700); */
            display: flex;
            flex-flow: column;
            gap: var(--spc-700);
            height: 100%;
            position: relative;

            &::-webkit-scrollbar-track {
                background-color: transparent;
            }
            
            &::-webkit-scrollbar-thumb {
                background-color: #d6dee1;
                border-radius: 20px;
                border: 6px solid transparent;
                background-clip: content-box;
            }

            &::-webkit-scrollbar-thumb:hover {
                background-color: #a8bbbf;
            }

            & section {
                padding-inline: var(--spc-800);

                @media all and (max-width: 400px) {
                    padding-inline: var(--spc-500);
                }
            }
        }

        & section {
            width: 100%;
            display: flex;
            flex-flow: column;
            gap: var(--spc-500);
            padding: var(--spc-900) var(--spc-400);
        }

        & hr {
            all: unset;
            border: solid 1px #ececec;
            border-radius: 100vw;
        }
    }

    & .main-no-auth {
        display: flex;
        flex-direction: column;
        width: 100%;

        & section {
            width: 100%;
            display: flex;
            flex-flow: column;
            gap: var(--spc-500);
            padding: var(--spc-900) var(--spc-400);
        }
    }
}