.card {
    width: 25rem;
    border-radius: 2rem;
    overflow: hidden;
    background-color: #fff;

    position: relative;

    &.card-empresa {
        & .div-img-capa {
            overflow: hidden;
            width: 100%;
            aspect-ratio: 2/1;

            & .img-capa {   
                width: 100%;
                aspect-ratio: 15/20;
                object-fit: cover;
                object-position: 25% 25%;
            }
        }
    }


    & .categoria-favoritos {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        gap: var(--spc-100);

        & .categorias {
            display: flex;
            flex-flow: row wrap;
            gap: var(--spc-80);
        }

        & .favoritos {

        }
    }

    & .img-perfil {
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover; 
        max-width: 6rem !important;
        width: 100%;
        aspect-ratio: 1;
        border-radius: 100vw;
        overflow: hidden;
        border: solid 3px #fff;
        position: absolute;
        top: 9.5rem;
        left: 1rem;
    }


    & .informacoes {
        padding: var(--spc-300);
        padding-top: var(--spc-800);
        display: flex;
        flex-flow: column;
        gap: var(--spc-400);
        justify-content: space-between;
        flex: 1;

        &  * {
            margin: 0 !important;
        }

        & .textos {
            display: flex;
            flex-flow: column;
            gap: var(--spc-100);
        }
    }

    &.card-produto {
        /* box-shadow: 0 1rem 1rem rgba(0,0,0,0.05); */
        /* height: 100%; */
        
        
        & .div-img-produto {
            overflow: hidden;
            width: 100%;
            aspect-ratio: 3/2;
    
            & .img-produto {   
                width: 100%;
                aspect-ratio: 15/20;
                object-fit: cover;
                object-position: 75% 75%;
            }

        }

        & .informacoes-botoes {
            display: flex;
            flex-flow: column;
            gap: var(--spc-400);
            justify-content: space-between;
            padding: var(--spc-300) !important;

            /* height: 100%; */

            & .informacoes {
                padding: 0 !important;
                gap: var(--spc-200);

                & .tudo-menos-cat {
                    display: flex;
                    flex-flow: column;
                    gap: var(--spc-200);
                }

                & .preco-qtde {
                    display: flex;
                    justify-content: space-between;
                    gap: var(--spc-100);

                    & .preco {
                        font-weight: 500;
                        font-size: var(--fs-200);
                    }
                }

                & .ativo-destaque-categorias {
                    display: flex;
                    flex-flow: column;
                    gap: var(--spc-500);
                }

                & .ativo-destaque {
                    display: flex;
                    /* justify-content: space-between; */
                    justify-content: flex-start;
                    gap: var(--spc-100);

                    & .ativo, & .destacado {
                        padding: var(--spc-50) var(--spc-100);
                        background-color: rgb(207, 255, 207);
                        border-radius: 0.4rem;
                        color: rgb(63, 160, 63);
                        height: max-content;
                        font-size: var(--fs-50);
                    }
                    
                    & .inativo, & .nao-destacado {
                        padding: var(--spc-50) var(--spc-100);
                        background-color: rgb(232, 232, 232);
                        border-radius: 0.4rem;
                        color: rgb(117, 117, 117);
                        height: max-content;
                        font-size: var(--fs-50);
                    }
                }

                & .categorias {
                    display: flex;
                    flex-flow: row wrap;
                    gap: var(--spc-100);
                }

            }

            & .botoes {
                display: flex;
                flex-flow: row wrap;
                gap: var(--spc-100);

                
                & .botao {
                    font-weight: 400;
                    width: max-content;
                }

                & .botao-editar {
                    background-color: #FCEAED;
                }

                & .botao-excluir {
                    background-color: #F8F9FA;
                }
            }
        }
    }

    &.card-produto-usuario {
        & .preco-salvar {
            display: flex;
            justify-content: space-between;
            gap: var(--spc-100);
        }

        & .categorias {
            width: 100%;
        }

        & .disponibilidade {
            padding: var(--spc-50) var(--spc-100);
            border-radius: 0.4rem;
            height: max-content;
            font-size: var(--fs-50);
            width: max-content;
            
            &.disponivel {
                background-color: rgb(207, 255, 207);
                color: rgb(63, 160, 63);
            }
        }
    }

    & .nome-descricao {
        display: flex;
        flex-flow: column;
        gap: var(--spc-80);
    }

    & .nome {
        font-weight: 500;
        font-size: var(--fs-300);

    }

    & .descricao {
        font-size: var(--fs-200);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & .categoria-favoritos {
        display: flex;
        justify-content: space-between;
        gap: var(--spc-400);
        font-size: var(--fs-100);
    }

    & .categoria {
        padding: var(--spc-50) var(--spc-100);
        background-color: #f8e9ff;
        /* background-color: #F8F9FA; */
        /* background-color: #e9e9e9; */
        /* background-color: #fff6df; */
        border-radius: 0.4rem;
        color: hsl(281, 52%, 57%);
        /* color: #ffc823; */
        height: max-content;
        font-size: var(--fs-50);
    }

    & .favoritos {
        display: flex;
        align-items: center;
        gap: var(--spc-70);

        & img {
            max-width: var(--spc-400);
        }

        & span {
            font-weight: 500;
        }
    }
}