.card {
    width: 25rem;
    border-radius: 2rem;
    overflow: hidden;
    background-color: #fff;

    position: relative;

    &.card-empresa {
        & .div-img-capa {
            overflow: hidden;
            width: 100%;
            aspect-ratio: 2/1;

            & .img-capa {   
                width: 100%;
                aspect-ratio: 15/20;
                object-fit: cover;
                object-position: 25% 25%;
            }
        }
    }

    &.card-produto {
        box-shadow: 0 1rem 1rem rgba(0,0,0,0.05);

        & .img-capa {
            width: 100%;
            aspect-ratio: 3/1.5;
            
        }

        & .informacoes {
            & .loja {
                display: flex;
                gap: var(--spc-100);
                align-items: center;
                
                & .img-loja {
                    width: 2.5rem;
                    aspect-ratio: 1;
                    border-radius: 100vw;
                    background-image: url(../images/perfil-empresa-1.jpg);
                    background-position: 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }

            & .preco-disponibilidade {
                display: flex;
                justify-content: space-between;
                gap: var(--spc-200);

                & .disponibilidade {
                    font-size: var(--fs-100);
                    padding: var(--spc-50) var(--spc-100);
                    background-color: #e3e3e3;
                    border-radius: 0.8rem;
                    color: #767676;
                }
            }

        }
    }

    & .categoria-favoritos {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        gap: var(--spc-100);

        & .categorias {
            display: flex;
            flex-flow: row wrap;
            gap: var(--spc-80);
        }

        & .favoritos {

        }
    }

    & .img-perfil {
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover; 
        max-width: 6rem !important;
        width: 100%;
        aspect-ratio: 1;
        border-radius: 100vw;
        overflow: hidden;
        border: solid 3px #fff;
        position: absolute;
        top: 9.5rem;
        left: 1rem;
    }


    & .informacoes {
        padding: var(--spc-300);
        padding-top: var(--spc-800);
        display: flex;
        flex-flow: column;
        gap: var(--spc-400);

        &  * {
            margin: 0 !important;
        }

        & .textos {
            display: flex;
            flex-flow: column;
            gap: var(--spc-100);
        }
    }

    & .nome-descricao {
        display: flex;
        flex-flow: column;
        gap: var(--spc-80);
    }

    & .nome {
        font-weight: 500;
        font-size: var(--fs-300);

    }

    & .descricao {
        font-size: var(--fs-100);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & .categoria-favoritos {
        display: flex;
        justify-content: space-between;
        gap: var(--spc-400);
        font-size: var(--fs-100);
    }

    & .categoria {
        padding: var(--spc-50) var(--spc-100);
        background-color: #f8e9ff;
        /* background-color: #F8F9FA; */
        /* background-color: #e9e9e9; */
        /* background-color: #fff6df; */
        border-radius: 0.4rem;
        color: #c341ff;
        /* color: #ffc823; */
        height: max-content;
        font-size: var(--fs-50);
    }

    & .favoritos {
        display: flex;
        align-items: center;
        gap: var(--spc-70);

        & img {
            max-width: var(--spc-400);
        }

        & span {
            font-weight: 500;
        }
    }
}