.carrossel {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: var(--spc-300);
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 25rem));
    justify-content: start;
    width: max-content;

    &::-webkit-scrollbar {
        display: none;
    }

    & .card {
        scroll-snap-align: start;
    }
}