header {
    padding: var(--spc-500) var(--spc-600);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: #F8F9FA;

    & .container-header {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 100rem;
        gap: 3rem;
    }

    & .logo {
        max-width: 10rem;

        @media all and (max-width: 450px) {
            max-width: 7rem;
        }
    }

    & ul {
        display: flex;
        gap: 2.5rem;
        list-style: none;
        transform: translateY(1rem);

        @media all and (max-width: 450px) {
            gap: 1.5rem;
            font-size: var(--fs-100);
        }

        & li {
            width: max-content;
            display: flex;
            flex-flow: column;
            gap: 0.5rem;
            
            & a {
                font-weight: 400 !important;
            }

            & div {
                width: 0;
                transition: 500ms ease;
                background-color: #cfb2ff;
                height: 2px;
            }

            &:hover div {
                width: 100%;
            }
        }
    }
}