& #sidebar {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(246, 246, 246, 0.06); */
    max-height: 100vh;
    background-color: #F8F9FA;

    & #toggler {
        display: none;

        &:checked~.sidebar-nav {
            width: 25rem;
            min-width: 25rem;

            @media all and (max-width: 500px) {
                width: 100vw;
                min-width: 100vw;
            }
        }
        
        &:checked~.sidebar-footer {
            width: 25rem;
            min-width: 25rem;

            @media all and (max-width: 500px) {
                width: 100vw;
                min-width: 100vw;
            }
        }

        &:not(:checked)~.search-bar .search-query {
            display: none;
        }

        &:not(:checked)~.toggle-btn span {
            display: none;
        }

        &:not(:checked)~* .sidebar-link span {
            display: none;
        }
    }

    & .toggle-btn > span, & .sidebar-link > span {
        margin-left: var(--spc-100) !important;
    }

    & .toggle-btn, & .sidebar-link {
        gap: 0 !important;
    }

    & .toggle-btn {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        cursor: pointer;
        color: #fff;
        padding: 1.7rem;
        background-color: rgba(255,255,255,.075);

        & span {
            margin: 0 auto;
            color: black;
            font-size: var(--spc-400);
            text-transform: uppercase;
            font-weight: 600;
        }

        & .logo {
            max-width: 7rem;
        }
    }
    
    
    & .search-bar {
        display: none;
    }

    & .sidebar-nav {
        flex: 1 1 auto;
        transition: all .25s ease-in-out;
        list-style: none;
        display: flex;
        align-items: center;

        width: calc(var(--spc-400) * 2 + 2.4rem + 0.3rem);
        min-width: calc(var(--spc-400) * 2 + 2.4rem + 0.3rem);
        
        & .sidebar-nav-items {
            display: flex;
            flex-flow: column;
            gap: var(--spc-300);
            width: 100%;
        }

    }

    & .sidebar-link {
        padding: var(--spc-90) var(--spc-400);
        white-space: nowrap;
        border-left: 3px solid transparent;

        display: flex;
        gap: var(--spc-100);
        align-items: center;

        & span {
            margin-left: 0.75rem;
        }
        
        &:hover {
            background-color: rgba(255,255,255,.075);
            border-left: 3px solid #CFB2FF;
        }

        
    }

    & .sidebar-footer {
        transition: all .25s ease-in-out;

        width: calc(var(--spc-400) * 2 + 2.4rem + 0.3rem);
        min-width: calc(var(--spc-400) * 2 + 2.4rem + 0.3rem);

        & .sidebar-footer-items {
            display: flex;
            flex-flow: column;      
            gap: var(--spc-300);
        }
    }
}