#full-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #f6f6f6;
    box-shadow: 2px 0 8px 0px rgba(0,0,0,0.3);
    min-width: fit-content;
    z-index: 999;

    .div-toggler-brand {
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 15px;
        width: fit-content;

        .toggle-btn {
            display: flex;
            align-items: end;
            gap: 0 5px;
            width: fit-content;

            @media screen and (max-width: 768px) {
                cursor: pointer;
            }

            .logo-img {

                img {
                    height: 25px;
                    width: 25px;
                }
            }

            .logo-text {                
                span {
                    font-size: 16px;
                }
            }
        }

    }
    
    .sidebar-middle {
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 15px;
    }

    .sidebar-footer {
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 15px;
    }

    .sidebar-nav {
        
        .sidebar-item {

            .sidebar-link {
                display: flex;
                align-items: end;
                height: 40px;
                gap: 0 7px;

                .div-img {
                    img{
                        height: 25px;
                        width: 25px;
                        max-height: 25px;
                        max-width: 25px;
                    }
                }

                .div-img-text {
                    span {
                        font-size: 14px;
                    }
                }

            }
        }
    }
}

#full-mobile-sidebar{
    display: none;
    z-index: 1000;
    width: 100%;
    background-color: white;

    .toggle-btn {
        display: flex;
        align-items: center;
        width: fit-content;
        
        .logo-img {
            margin: 8px;
            padding: 1px 1px 2px 1px;
            border: 4px solid rgb(207, 178, 255);
            border-radius: 0.4rem;
            cursor: pointer;
            
            img {
                height: 20px;
                width: 20px;
            }
        }

        .logo-text {                
            span {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 992px) {
    #full-sidebar {
        display: none;
        position: fixed;
    }
    
    #full-mobile-sidebar {
        display: flex;
        position: absolute;

    }

    .active-display {
        display: flex !important;
    }

    .inactive-display {
        display: none !important;
    }
}