/* #FF6B6B
#FFD93D
#6BCB77
#4D96FF
#A0E7E5
#FFAEBC
#FDFD96
#A9DEF9
#FFC6FF
#FF9CEE
#B5EAEA
#FFADAD
#FFC3A0
#FF9A8B
#FFD1DC
#FFDAA5
#FAFFB0
#B5E48C
#C1FBA4
#99DDCC
#B8FFF9
#FFABAB
#FFD5CD
#CAF7E3
#F3D1F4
#A0C4FF
#FFA1E3
#B28DFF
#EDE7B1
#D4A5A5
#FF7171
#FF85A1
#BFCDE0
#92A9BD
#FFD4A3
#FFAAA5
#FFD3BA
#A9E5BB
#EADFFD
#CDB4DB
#FFC8DD
#FFDFD3
#FEC8D8
#FF9C71
#FF8787
#B8A9C9
#E8A87C
#B0E57C
#C3B1E1
#6E85B7 */



form {
    & .input-wrapper.input-wrapper-checkbox {
        all: unset;
        display: flex;
        gap: var(--spc-200);
        align-items: start;
        justify-content: center;
        width: max-content;

        & input {
            width: max-content;
        }

        & label {
            all: unset;
        }
    }
}

