.cabecalho {
    display: flex;
    gap: var(--spc-300);
    justify-content: space-between;

    @media all and (max-width: 500px){
        flex-flow: column;
    }
}

.meus-produtos-lojista {
    display: grid;
    grid-template-columns: repeat(auto-fill, 25rem);
    gap: var(--spc-700);

    /* @media all and (max-width: ) */
}




