.main-scrollable {
    gap: var(--spc-1000) !important;

    & .apresentacao-produto {
        display: flex;
        flex-flow: row;
        gap: var(--spc-700);

        & .imagens {
            display: flex;
            gap: var(--spc-300);
            height: calc(60rem + 2*var(--spc-200));


            & .previas {
                display: grid;
                grid-template-columns: 15rem;
                grid-template-rows: repeat(3, 20rem);
                gap: var(--spc-200);
                /* height: 100%; */
                

                /* & .previa {
                    background-color: white;
                    aspect-ratio: 3/4;
                } */

                img {
                    /* aspect-ratio: 3/4;
                    overflow: hidden; */
                    width: 100%;
                    aspect-ratio: 15/20;
                    object-fit: cover;
                    object-position: 25% 25%;
                    cursor: pointer;
                }
            }

            & .img-destaque {
                background-color: white;
                height: 100%;
                aspect-ratio: 3/4;
                
            }
        }

        & .especificacoes {
            & .loja {
                display: flex;
                /* justify-content: space-between; */
                gap: var(--spc-100);
                align-items: center;
                
                & .img-loja {
                    width: 2.5rem;
                    aspect-ratio: 1;
                    border-radius: 100vw;
                    background-image: url(../images/perfil-empresa-1.jpg);
                    background-position: 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                & .nome-loja {

                }
            }

            & .preco {
                font-size: var(--fs-400);
            }

            & .disponibilidade {
                color:  rgb(111, 166, 111);
                background-color: rgb(195, 235, 195);
                padding: var(--spc-50) var(--spc-200);
                border-radius: 0.5rem;
                
            }
            
            & .salvar {
                all: unset;
                display: flex;
                gap: var(--spc-60);
                align-items: center;
                cursor: pointer;
                /* background-color: hsl(212, 66%, 85%); */
                background-color: rgba(255,255,255,0.35);
                /* border: solid 1px rgba(255,255,255,0.75); */
                border: solid 1px;
                border-color: rgba(255,255,255,0.75);
                border-radius: 0.5rem;
                padding: var(--spc-90) var(--spc-200);
                width: max-content;
                transition: background-color .3s ease;
                
                &:hover, &.salvo {
                    /* background-color: hsl(212, 66%, 80%); */
                    background-color: hsl(267, 100%, 90%);
                    border-color:hsl(264, 100%, 85%);
                }

                &.salvo {
                    & svg {
                        fill: hsl(264, 100%, 75%);;
                        stroke: hsl(264, 100%, 75%);;     

                    }
                }

                & svg {
                    width: 1.8rem;
                }
            }
        }
    }

    & .avaliacoes {
        max-width: 80rem;
        display: flex;
        flex-flow: column;
        gap: var(--spc-800);

        & .avaliacao {
            display: flex;
            flex-flow: column;
            gap: var(--spc-500);

            & .cabecalho-avaliacao {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: var(--spc-200);

                & .usuario {
                    display: flex;
                    align-items: center;
                    gap: var(--spc-100);

                    & .foto-usuario {
                        /* width: 3.5rem;
                        aspect-ratio: 1;
                        background-image: url(../images/img-perfil-exemplo.jpeg);
                        border-radius: 100vw;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover; */

                        max-width: 3.5rem;
                        aspect-ratio: 1;
                        border-radius: 100vw;
                        object-fit: cover;
                        object-position: 25% 25%;
                    }

                    & .nome-usuario {

                    }
                }

                & .estrelas {
                    & img {
                    }
                }
            }

            & .corpo-avaliacao {

            }
        }

        & hr {
            border: solid 1px rgba(0, 0, 0, 0.073);
            border-radius: 100vw;
        }
    }
}

