.main-scrollable {
    gap: var(--spc-400) !important;

    .secao {
        gap: var(--spc-400);
    }

    .botao-voltar {
        display: flex;
        gap: var(--spc-200);
        align-items: center;
        background-color: #F8F9FA;
        border-radius: 100vw;
        padding: var(--spc-100) var(--spc-500);
        width: max-content;
        font-weight: 400;
    
        img {
            max-width: 2rem;
        }
    }

    .conteudo {
        display: flex;
        height: 100%;
        align-items: center;
        align-content: center;
        padding: 30px;

        @media (max-width: 1199px) {
            flex-flow: column;
            padding: 0;
        }
    }

    .splide-main {
        width: 50%;
        max-width: 50%;
        margin-right: 2rem;
        height: 100%;
        align-content: center;

        @media (max-width: 1199px) {
            width: 100%;
            max-width: 100%;
            margin-right: 0;
        }
    }

    .splide-thumbnail {
        justify-items: center;
        padding-top: 10px;
    }

    .splide-main-img-style {
        border-radius: 1% !important;
    }

    .splide-thumbnail-img-style {
        border-radius: 10px !important;
    }

    .splide__track--nav>.splide__list>.splide__slide.is-active {
        border: 3px solid #957486 !important;
    }

    .agrupamento-informacoes {
        display: flex;
        flex-flow: column;
        gap: var(--spc-200);
        width: 50%;
        max-width: 50%;
        height: 100%;
        justify-content: center;
        padding-bottom: 5%;
 
        .nome-produto{
            max-width: 50%;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .descricao-produto {
            max-width: 50%;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            line-clamp: 5;
            -webkit-box-orient: vertical;

            @media (max-width: 1199px) {
                -webkit-line-clamp: 10;
                line-clamp: 10;
            }
        }

        @media (max-width: 1199px) {
            width: 100%;
            max-width: 100%;
            align-items: center;
            padding-bottom: 20px;
            margin-top: 1rem;
        }
    }

    .disponibilidade {
        color:  rgb(111, 166, 111);
        background-color: rgb(195, 235, 195);
        padding: var(--spc-50) var(--spc-200);
        border-radius: 0.5rem;
        width:fit-content;
    }

    .categorias {
        display: flex;
        flex-flow: row wrap;
        gap: var(--spc-100);

        .categoria {
            padding: var(--spc-50) var(--spc-100);
            background-color: #f8e9ff;
            border-radius: 0.4rem;
            color: hsl(281, 52%, 57%);
            height: max-content;
        }
    }

    .favoritar {
        display: flex;
        width: fit-content;
        padding: 5px 10px;
        border-radius: 1rem;
        width: 115px;
        cursor: pointer;
        margin-top: 1.5rem;
        font-weight: 600;
        gap: var(--spc-100);
        align-items: center;
        border: 4px solid rgb(40, 69, 119);
    }
}

