{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/listagem-produtos-lojista.css' %}">
{% endblock %}

{% block 'titulo' %}
    Vi²Mu | Meus produtos
{% endblock %}

{% block 'conteudo'%}
    <main>
        <div class="main-scrollable">
            <section class="secao">
                {% if messages %}
                    {% for i in messages %}   
                        <div class="alert {{i.tags}}" role="alert">
                            {{i}} 
                        </div>
            
                    {% endfor %}
                {% endif %}
                <div class="cabecalho">
                    <h1>Meus produtos</h1>
                    <a href="{% url 'criar_produto' id_empresa %}">Cadastrar</a>
                </div>
                <div class="meus-produtos-lojista">
                    {% for produto in produtos %}
                        <div
                            class="card card-produto card-produto-usuario card-produto-usuario-visualizar"
                        >
                            <div class="moving-container">
                                {% if produto.primeira_imagem %}
                                    <img
                                        src="{{ produto.primeira_imagem.url }}"
                                        alt="imagem capa produto {{ produto.descricao }}"
                                    >
                                {% else %}
                                    <img
                                        src="{{ produto.primeira_imagem_default }}"
                                        alt="imagem capa produto {{ produto.descricao }}"
                                    >
                                {% endif %}
                            </div>
                            <div class="informacoes-botoes">
                                <div class="tudo-menos-cat">
                                    <div class="nome">{{ produto.nome }}</div>
                                    <div class="descricao">{{ produto.descricao }}</div>
                                    <div
                                        class="
                                            d-flex
                                            justify-content-between
                                            align-items-center
                                            mt-2 mb-3
                                        "
                                    >
                                        <div>
                                            {% if produto.ativo == False  %}
                                                <span class="disponibilidade indisponivel">Indisponível</span>
                                            {% elif produto.qtd == 0 %}
                                                <span class="disponibilidade sem-estoque">Sem estoque</span>
                                            {% else %}
                                                <span class="disponibilidade disponivel">Disponível</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {% if produto.porcentagem_desconto %}
                                                <span
                                                    class="disponibilidade tag-oferta"
                                                >
                                                    {{ produto.porcentagem_desconto }}% OFF
                                                <span>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="categorias">
                                        {% for categoria in produto.categoria_produto.all|slice:":4" %}
                                            <div class="categoria">{{ categoria.descricao }}</div>
                                        {% endfor %}
                                        {% if produto.categoria_produto.all|length > 4  %}
                                            ... 
                                        {% endif %}
                                    </div>

                                    <div
                                        class="align-content-center"
                                    >
                                        <div class="preco-salvar">
                                            {% if produto.preco_oferta %}
                                                <div class="preco">
                                                    Valor: 
                                                    <s>
                                                        R$
                                                        {{ produto.preco }}
                                                    </s>
                                                </div>
                                                <div class="preco preco-oferta">
                                                    Promo: 
                                                    R$
                                                    {{ produto.preco_oferta }}
                                                </div>
                                            {% else %}
                                                <div class="preco">
                                                    Valor: 
                                                    R$
                                                    {{ produto.preco }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="botoes">
                                        <a
                                            href="{% url 'editar_produto' id_empresa produto.id %}"
                                            class="botao botao-editar"
                                            style="cursor: pointer;"
                                        >
                                            Editar
                                        </a>
                                        <a
                                            onclick='confirmDelete({{id_empresa}}, {{produto.id}})'
                                            class="botao botao-excluir"
                                            style="cursor: pointer;"
                                        >
                                            Excluir
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p>Não há produtos cadastrados para essa empresa.</p>
                    {% endfor %}
                
                </div>
            </section>
        </div>
    </main>

    <script>

        function confirmDelete(idEmpresa, idProduto) {
            if (confirm("Tem certeza que deseja excluir o produto?")) {
                excluiProduto(idEmpresa, idProduto)
            }
        }

        function excluiProduto(idEmpresa, idProduto) {
            const url = "/produtos/empresa/"+idEmpresa+"/excluir-produto/"+idProduto+"/"
            fetch(url, {
                method: "POST",
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json'
                },
            })
            .then(response => response.json())
            .then(data => {
                if(data.status === 'success'){
                    location.reload();
                }else{
                    alert('Não foi possível excluir esse produto, tente novamente mais tarde.');
                }
            })
            .catch(error => {
                alert('Não foi possível excluir esse produto, tente novamente mais tarde.');
            });
        }
        
    </script>

{% endblock %}