{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/listagem-produtos-lojista.css' %}">
{% endblock %}

{% block 'titulo' %}
    Vitrine Digital | Meus produtos
{% endblock %}

{% block 'conteudo'%}
    <main>
        <div class="main-scrollable">
            {% if messages %}
                {% for i in messages %}   
                    <div class="alert {{i.tags}}" role="alert">
                        {{i}} 
                    </div>
        
                {% endfor %}
            {% endif %}

            <a href="" class="botao-voltar">
                <img src="{% static 'images/seta-esquerda.svg' %}" alt="Seta para a esquerda">
                <span>Voltar para a loja</span>
            </a>

            <div class="cabecalho">
                <h1>Meus produtos</h1>
                <a href="{% url 'criar_produto' id_empresa %}">Cadastrar</a>
            </div>

            <div class="meus-produtos-lojista">
                {% for produto in produtos %}
                    <div class="card card-empresa">
                        <div>
                            {% if produto.primeira_imagem %}
                                <img
                                    src="{{ produto.primeira_imagem.url }}"
                                    alt="Imagem do produto"
                                    class="img-responsive"
                                >
                            {% else %}
                                <img
                                    src="{{ produto.primeira_imagem_default }}"
                                    alt="Imagem do produto"
                                    class="img-responsive"
                                >
                            {% endif %}
                        </div>
                        <div class="textos">
                            <h5>{{ produto.nome }}</h5>
                            <p class="descricao">{{ produto.descricao }}</p>
                            <p class="preco">
                                {{ produto.preco }}
                            </p>
                            <p class="qtd">{{ produto.qtd }}</p>
                            <p class="ativo">
                                {% if produto.ativo %}
                                    Ativo
                                {% else %}
                                    Inativo
                                {% endif %}
                            </p>
                            <p class="destaque">
                                {% if produto.destaque %}
                                    Destacado
                                {% else %}
                                    Não destacado
                                {% endif %}
                            </p>
                            Categorias:
                            <div class="categoria-favoritos">
                                {% for categoria in produto.categoria_produto.all %}
                                    <div class="categoria">{{ categoria.descricao }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <a
                            href="{% url 'editar_produto' id_empresa produto.id %}"
                            class="btn"
                        >
                            Editar
                        </a>
                        <a
                            href="{% url 'excluir_produto' id_empresa produto.id %}"
                            class="btn"
                        >
                            Excluir
                        </a>
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </main>

{% endblock %}