{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/listagem-produtos-lojista.css' %}">
{% endblock %}

{% block 'titulo' %}
    Vitrisse | Meus produtos
{% endblock %}

{% block 'conteudo'%}
    <main>
        <div class="main-scrollable">
            {% if messages %}
                {% for i in messages %}   
                    <div class="alert {{i.tags}}" role="alert">
                        {{i}} 
                    </div>
        
                {% endfor %}
            {% endif %}

            <section class="secao">
                <div class="cabecalho">
                    <h1>Meus produtos</h1>
                    <a href="{% url 'criar_produto' id_empresa %}">Cadastrar</a>
                </div>
                <div class="meus-produtos-lojista">
                    {% for produto in produtos %}
                        <div class="card card-produto">
                            <div class="div-img-produto">
                                {% if produto.primeira_imagem %}
                                    <img
                                        src="{{ produto.primeira_imagem.url }}"
                                        alt="Imagem do produto"
                                        class="img-produto"
                                    >
                                {% else %}
                                    <img
                                        src="{{ produto.primeira_imagem_default }}"
                                        alt="Imagem do produto"
                                        class="img-produto"
                                    >
                                {% endif %}
                            </div>
                            <div class="informacoes-botoes">
                                <div class="informacoes">
                                    <p class="nome">{{ produto.nome }}</p>
                                    <p class="descricao">{{ produto.descricao }}</p>
                                    <div class="preco-qtde">
                                        <p class="preco">R$
                                            {{ produto.preco }}
                                        </p>
                                        <p class="qtd">{{ produto.qtd }} un</p>
                                    </div>
                                    <div class="ativo-destaque-categorias">
                                        <div class="ativo-destaque">
                                            {% if produto.ativo %}
                                                <span class="ativo">Ativo</span>
                                            {% else %}
                                                <span class="inativo">Inativo</span>
                                            {% endif %}
                                            {% if produto.destaque %}
                                                <span class="destacado">Destacado</span>
                                            {% else %}
                                                <span class="nao-destacado">Não destacado</span>
                                            {% endif %}
                                        </div>
                                        <div class="categorias">
                                            {% for categoria in produto.categoria_produto.all %}
                                                <div class="categoria">{{ categoria.descricao }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="botoes">
                                    <a
                                        href="{% url 'editar_produto' id_empresa produto.id %}"
                                        class="botao botao-editar"
                                    >
                                        Editar
                                    </a>
                                    <a
                                        href="{% url 'excluir_produto' id_empresa produto.id %}"
                                        class="botao botao-excluir"
                                    >
                                        Excluir
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p>Não há produtos cadastrados para essa empresa.</p>
                    {% endfor %}
                
                </div>
            </section>
        </div>
    </main>

{% endblock %}