{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/cadastro-produto.css' %}">
{% endblock %}

{% block 'titulo' %}
    {% if id_produto %}
        Vi²Mu | Editar produto
    {% else %}
        Vi²Mu | Cadastrar produto
    {% endif %}
{% endblock %}

{% block 'conteudo'%}

    <main>
        <div class="main-scrollable">
            <section class="secao">
                <div class="container">
                    {% if messages %}
                        {% for i in messages %}
                            <div class="alert {{i.tags}}" role="alert">
                                {{i}}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <h2>Dados do Produto</h2>
                    {% if id_produto %}
                        <form
                            method="POST"
                            action="{% url 'editar_produto' id_empresa id_produto %}"
                            enctype="multipart/form-data"
                        >
                    {% else %}
                        <form
                            method="POST"
                            action="{% url 'criar_produto' id_empresa %}"
                            enctype="multipart/form-data"
                        >
                    {% endif %}
                        {% csrf_token %}
                    
                        <div class="input-wrapper">
                            <label>Nome <span>*</span></label>
                            {{ form.nome }}
                            {% if form.nome.errors %}
                                <div>
                                    {% for error in form.nome.errors %}
                                        <div>
                                            <strong>{{ error }}</strong>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="input-wrapper">
                            <label>Descricao <span>*</span></label>
                            {{ form.descricao }}
                            {% if form.descricao.errors %}
                                <div>
                                    {% for error in form.descricao.errors %}
                                        <div>
                                            <strong>{{ error }}</strong>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="input-wrapper">
                            <label>Preço <span>*</span> (R$)</label>
                            {{ form.preco }}
                            {% if form.preco.errors %}
                                <div>
                                    {% for error in form.preco.errors %}
                                        <div>
                                            <strong>{{ error }}</strong>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="input-wrapper">
                            <label>Preço com oferta (R$)</label>
                            <label
                                class="text-muted"
                                style="font-size: 10px;"
                            >
                                Não é necessário preencher
                            </label>
                            {{ form.preco_oferta }}
                            {% if form.preco_oferta.errors %}
                                <div>
                                    {% for error in form.preco_oferta.errors %}
                                        <div>
                                            <strong>{{ error }}</strong>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="input-wrapper">
                            <label>Quantidade</label>
                            <label
                                class="text-muted"
                                style="font-size: 10px;"
                            >
                                Não é necessário preencher
                            </label>
                            {{ form.qtd }}
                            {% if form.qtd.errors %}
                                <div>
                                    {% for error in form.qtd.errors %}
                                        <div>
                                            <strong>{{ error }}</strong>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div
                            class="d-flex justify-content-around"
                        >
                            <div
                                class="input-wrapper input-wrapper-checkbox"
                            >
                                {{ form.ativo }}
                                {% if form.ativo.errors %}
                                <div>
                                    {% for error in form.ativo.errors %}
                                    <div>
                                        <strong>{{ error }}</strong>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                <label>Ativo</label>
                            </div>
                            <div
                                class="input-wrapper input-wrapper-checkbox"
                            >
                                {{ form.destaque }}
                                {% if form.destaque.errors %}
                                <div>
                                    {% for error in form.destaque.errors %}
                                    <div>
                                        <strong>{{ error }}</strong>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                <label>Destaque</label>
                            </div>
                        </div>
                        <div class="input-wrapper">
                            <label>Categoria(s) da empresa <span>(mínimo 1, máximo 10) <span>*</span></label>
                            {{ form.categorias }}
                            {% if form.categorias.errors %}
                                <div>
                                    {% for error in form.categorias.errors %}
                                        <div>
                                            <strong>{{ error }}</strong>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="input-wrapper">
                            <label>Imagens (até 3)</label>
                            {{ form.imagens }}
                            {% if form.imagens.errors %}
                                <div>
                                    {% for error in form.imagens.errors %}
                                        <div>
                                            <strong>{{ error }}</strong>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div id="image-preview-container">
                                <label for="imagens">Imagens Selecionadas:</label>
                                <div id="image-preview" class="text-center">
                                    {% if imagens_existentes %}
                                        <div id="imagens-existentes">
                                            {% for vinculo_imagem in imagens_existentes %}
                                                <img
                                                    src="{{ vinculo_imagem.imagem.url }}"
                                                    alt="Imagem do produto"
                                                    style="
                                                        max-height: 200px;
                                                        max-width: 200px;
                                                    "
                                                >
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    
                    
                        <button class="botao" type="submit">Salvar produto</button>
                        </form>
                </div>
            </section>
        </div>
    </main>

    <script>
        $(document).ready(function(){

            function aplicarMascara(id) {
                $(id).mask('#.##0,00', { reverse: true });

                function restaurarCentavos(input) {
                    let valor = $(input).val();
                    
                    if (valor === '' || valor.indexOf(',') === -1) {
                        $(input).val('0,00');
                    }
                }

                $(id).on('focus', function () {
                    restaurarCentavos(this);
                    this.setSelectionRange(0, 0);
                });

                $(id).on('click', function () {
                    this.setSelectionRange(0, 0);
                });

                $(id).on('input', function () {
                    restaurarCentavos(this);
                });

                $(id).on('blur', function () {
                    restaurarCentavos(this);
                });
            }

            aplicarMascara('#preco');
            aplicarMascara('#preco_oferta');
        });

        document.getElementById('imagens').addEventListener('click', function(event) {
            let previewImagensExistentes = document.getElementById('imagens-existentes');

            if (previewImagensExistentes) {
                previewImagensExistentes.style.display = 'none';
            }
        })

        document.getElementById('imagens').addEventListener('change', function(event) {
            let previewContainer = document.getElementById('image-preview');
            let previewContainerWrapper = document.getElementById('image-preview-container');
            
            if (event.target.files.length === 0) {
                previewContainerWrapper.style.display = 'none';
                return;
            }

            previewContainerWrapper.style.display = 'block';
    
            previewContainer.innerHTML = '';

            Array.from(event.target.files).forEach(file => {
                let reader = new FileReader();
                reader.onload = function(e) {
                    let img = document.createElement('img');
                    img.src = e.target.result;
                    img.style.height = '100px';
                    img.style.margin = '5px';
                    img.style.objectFit = 'cover';
                    img.classList.add('img-thumbnail');
                    previewContainer.appendChild(img);
                };
                reader.readAsDataURL(file);
            });
        });
    </script>

{% endblock %}