<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitrine Digital | Produto</title>
    <link rel="stylesheet" href="../static/css/produto.css">
</head>
<body>
    <div class="container-inicio">

        <!-- INÍCIO SIDEBAR -->
        <aside id="sidebar">
            <input type="checkbox" id="toggler">
            <label for="toggler" class="toggle-btn">
                <img src="../static/images/icone-grid.svg" alt="">
                <span>Vitrine Digital</span>
            </label>
            <form action="#" class="search-bar">
                <span class="search-icon">
                    <img src="../static/images/icone-lupa.svg" alt="">
                </span>
                <input type="text" class="search-query" placeholder="Search...">
            </form>

            <!-- sidebar navigation begins -->
             <ul class="sidebar-nav">
                <div class="sidebar-nav-items">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <img src="../static/images/icone-estrela.svg" alt="">
                            <span>Lojas favoritas</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <img src="../static/images/icone-salvar.svg" alt="">
                            <span>Produtos salvos</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <img src="../static/images/icone-lupa.svg" alt="">
                            <span>Pesquisar lojas</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <img src="../static/images/icone-maleta.svg" alt="">
                            <span>Para lojas</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <img src="../static/images/icone-configuracoes.svg" alt="">
                            <span>Configurações</span>
                        </a>
                    </li>
                </div>
             </ul>
             <!-- sidebar navigation ends -->
                <div class="sidebar-footer">
                <div class="sidebar-footer-items">
                    <a href="#" class="sidebar-link profile-btn">
                        <div class="sidebar-profile-pic"></div>
                        <span>Meu perfil</span>
                    </a>
                    <a href="#" class="sidebar-link my-companies-btn">
                        <img src="../static/images/icone-maleta.svg" alt="">
                        <span>Minhas empresas</span>
                    </a>
                </div>
              </div>
        </aside>
        <!-- FIM SIDEBAR -->

        <main>
            <div class="main-scrollable">
                
                <div class="apresentacao-produto">
                    <div class="imagens">
                        <div class="previas">
                            <!-- <div class="previa"></div>
                            <div class="previa"></div>
                            <div class="previa"></div> -->

                            <img src="../../vitrine_digital/static/images/img-1-produto.jpg" alt="">
                            <img src="../../vitrine_digital/static/images/img-2-produto.jpg" alt="">
                            <img src="../../vitrine_digital/static/images/img-3-produto.jpg" alt="">
                        </div>
                        <img class="img-destaque" src="../../vitrine_digital/static/images/img-1-produto.jpg" alt="">
                    </div>
                    <div class="especificacoes">
                        <h1>Nome do produto</h1>
                        <p>Descrição Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit nam quaerat nihil, quae esse laboriosam saepe animi officia a vero optio neque praesentium deleniti veniam reprehenderit totam consequatur possimus quo.</p>
                        <div class="loja">
                            <div class="img-loja"></div>
                            <span class="nome-loja">Nome da loja</span>
                        </div>
                        <!-- adicionar preço dinamicamente -->
                        <span class="preco">R$ 955,99</span>
                        <!-- adicionar disponibilidade dinamicamente - true = disponível, false = indisponível -->
                        <span class="disponibilidade">Disponível</span>
                        <!-- se o produto já estiver salvo, o botão vem também com a classe "salvo" -->
                        <button class="salvar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></svg>
                            <!-- adicionar quantidade de salvamentos dinamicamente -->
                            <span>213</span>
                        </button>
                    </div>
                </div>

                <div class="avaliacoes">
                    <h2>Avaliações</h2>
                    <div class="avaliacao">
                        <div class="cabecalho-avaliacao">
                            <div class="usuario">
                                <img class="img-perfil" src="../../vitrine_digital/static/images/img-perfil-exemplo.jpeg" alt="">
                                <span class="nome-usuario">Nome do usuário</span>
                            </div>
                            <div class="estrelas">
                                <img src="../../vitrine_digital/static/images/estrela-preenchida.svg" alt="">
                                <img src="../../vitrine_digital/static/images/estrela-preenchida.svg" alt="">
                                <img src="../../vitrine_digital/static/images/estrela-preenchida.svg" alt="">
                                <img src="../../vitrine_digital/static/images/estrela-vazada.svg" alt="">
                                <img src="../../vitrine_digital/static/images/estrela-vazada.svg" alt="">
                            </div>
                        </div>
                        <div class="corpo-avaliacao">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora veniam quo aspernatur, adipisci quaerat aut ipsa corrupti fugiat impedit quos, asperiores magnam cum accusantium ratione ipsam earum libero aperiam. Amet!</p>
                        </div>
                    </div>

                    <hr>
                    
                    <div class="avaliacao">
                        <div class="cabecalho-avaliacao">
                            <div class="usuario">
                                <img class="img-perfil" src="../../vitrine_digital/static/images/img-perfil-exemplo.jpeg" alt="">
                                <span class="nome-usuario">Nome do usuário</span>
                            </div>
                            <div class="estrelas">
                                <img src="../../vitrine_digital/static/images/estrela-preenchida.svg" alt="">
                                <img src="../../vitrine_digital/static/images/estrela-preenchida.svg" alt="">
                                <img src="../../vitrine_digital/static/images/estrela-preenchida.svg" alt="">
                                <img src="../../vitrine_digital/static/images/estrela-vazada.svg" alt="">
                                <img src="../../vitrine_digital/static/images/estrela-vazada.svg" alt="">
                            </div>
                        </div>
                        <div class="corpo-avaliacao">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora veniam quo aspernatur, adipisci quaerat aut ipsa corrupti fugiat impedit quos, asperiores magnam cum accusantium ratione ipsam earum libero aperiam. Amet!</p>
                        </div>
                    </div>

                    <hr>
                    <div class="avaliacao">
                        <div class="cabecalho-avaliacao">
                            <div class="usuario">
                                <img class="img-perfil" src="../../vitrine_digital/static/images/img-perfil-exemplo.jpeg" alt="">
                                <span class="nome-usuario">Nome do usuário</span>
                            </div>
                            <div class="estrelas">
                                <img src="../../vitrine_digital/static/images/estrela-preenchida.svg" alt="">
                                <img src="../../vitrine_digital/static/images/estrela-preenchida.svg" alt="">
                                <img src="../../vitrine_digital/static/images/estrela-preenchida.svg" alt="">
                                <img src="../../vitrine_digital/static/images/estrela-vazada.svg" alt="">
                                <img src="../../vitrine_digital/static/images/estrela-vazada.svg" alt="">
                            </div>
                        </div>
                        <div class="corpo-avaliacao">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora veniam quo aspernatur, adipisci quaerat aut ipsa corrupti fugiat impedit quos, asperiores magnam cum accusantium ratione ipsam earum libero aperiam. Amet!</p>
                        </div>
                    </div>

                    <hr>
                    <div class="avaliacao">
                        <div class="cabecalho-avaliacao">
                            <div class="usuario">
                                <img class="img-perfil" src="../../vitrine_digital/static/images/img-perfil-exemplo.jpeg" alt="">
                                <span class="nome-usuario">Nome do usuário</span>
                            </div>
                            <div class="estrelas">
                                <img src="../../vitrine_digital/static/images/estrela-preenchida.svg" alt="">
                                <img src="../../vitrine_digital/static/images/estrela-preenchida.svg" alt="">
                                <img src="../../vitrine_digital/static/images/estrela-preenchida.svg" alt="">
                                <img src="../../vitrine_digital/static/images/estrela-vazada.svg" alt="">
                                <img src="../../vitrine_digital/static/images/estrela-vazada.svg" alt="">
                            </div>
                        </div>
                        <div class="corpo-avaliacao">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora veniam quo aspernatur, adipisci quaerat aut ipsa corrupti fugiat impedit quos, asperiores magnam cum accusantium ratione ipsam earum libero aperiam. Amet!</p>
                        </div>
                    </div>

                    <hr>


                </div>
            </div>
        </main>
    </div>

    <script>
        const botaoSalvar = document.querySelector('.salvar');
        const iconeSalvar = botaoSalvar.querySelector('svg');
        const qtdeSalvos = botaoSalvar.querySelector('span');

        botaoSalvar.addEventListener('click', ()=>{
            botaoSalvar.classList.add('salvo');
        })

    </script>
</body>
</html>