{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/visualizar-produto.css' %}">
{% endblock %}

{% block 'titulo' %}
    Vi²Mu | Produto
{% endblock %}

{% block 'conteudo'%}
    <main>
        <div class="main-scrollable">
            <section class="secao h-100">
                <a href="{% url 'visualizar_empresa' produto.id_empresa.id %}" class="botao-voltar">
                    <img src="{% static 'images/seta-esquerda.svg' %}" alt="Seta para a esquerda">
                    <span>Voltar para a loja</span>
                </a>

                {% if messages %}
                    {% for i in messages %}   
                        <div class="alert {{i.tags}}" role="alert">
                            {{i}} 
                        </div>
            
                    {% endfor %}
                {% endif %}
                
                <div
                    class="
                        conteudo
                    "
                >
                    <div
                        id="main-slider"
                        class="
                            splide
                            splide-main
                        "
                    >
                        <div class="splide__track">
                            <ul class="splide__list">
                                {% for vinculo_imagem in imagens_existentes %}
                                    <li
                                        class="
                                            splide__slide
                                            splide-main-img-style
                                        "
                                    >
                                            <img
                                                src="{{ vinculo_imagem.imagem.url }}"
                                                alt="Imagem do produto"
                                            >
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div
                            id="thumbnail-slider"
                            class="splide splide-thumbnail"
                        >
                            <div class="splide__track">
                                  <ul class="splide__list">
                                    {% for vinculo_imagem in imagens_existentes %}
                                        <li
                                            class="
                                                splide__slide
                                                splide-thumbnail-img-style
                                            "
                                        >
                                            <img
                                                src="{{ vinculo_imagem.imagem.url }}"
                                                alt="Imagem do produto"
                                            >
                                        </li>
                                    {% endfor %}
                                  </ul>
                            </div>
                        </div>
                    </div>

                    <div
                        class="agrupamento-informacoes"
                    >
                        <div
                            class="nome-produto"
                        >
                            <h1>{{ produto.nome }}</h1>
                        </div>
                        <div
                            class="descricao-produto"
                        >
                            <h5>{{ produto.descricao }}</h5>
                        </div>

                        {% if produto.ativo == False  %}
                            <div class="disponibilidade indisponivel">Indisponível</div>
                        {% elif produto.qtd == None %}
                            <div class="disponibilidade disponivel">Disponível</div>
                        {% elif produto.qtd == 0 %}
                            <div class="disponibilidade sem-estoque">Sem estoque</div>
                        {% else %}
                            <div class="disponibilidade disponivel">Disponível - {{produto.qtd}} unidades</div>
                        {% endif %}

                        <div class="categorias">
                            {% for categoria in produto.categoria_produto.all|slice:":4" %}
                                <div class="categoria">{{ categoria.descricao }}</div>
                            {% endfor %}
                            {% if produto.categoria_produto.all|length > 4  %}
                                ... 
                            {% endif %}
                        </div>
                        
                        <div
                            class="
                                mt-2
                                text-xl-left
                                text-center
                            "
                        >
                            {% if produto.preco_oferta %}
                                <div>
                                    <s>
                                        R$
                                        {{ produto.preco }}
                                    </s>
                                </div>
                                <div
                                    class="font-weight-bold"
                                >R$
                                    {{ produto.preco_oferta }}
                                </div>
                            {% else %}
                                <div>R$
                                    {{ produto.preco }}
                                </div>
                            {% endif %}
                            
                            <div
                                class="
                                    favoritar
                                    fav-{{produto.id}}
                                "
                                onclick="favnotfav(
                                    event,
                                    'fav-{{produto.id}}',
                                    'fav-number-{{produto.id}}',
                                    {{produto.id}}
                                )"
                            >
                                <div>
                                    <img
                                        id="icone-salvar"
                                        {% if favorito_usuario %}
                                            src="{% static 'images/icone-salvar-fill.svg' %}"
                                        {% else %}
                                            src="{% static 'images/icone-salvar.svg' %}"
                                        {% endif %}
                                        alt="Ícone salvar"
                                        style="cursor: pointer;"
                                        width="25px"
                                        height="25px"
                                    >
                                </div>
                                <div
                                    id="icone-salvar-descricao"
                                >
                                    {% if favorito_usuario %}
                                        Salvo
                                    {% else %}
                                        Salvar
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    
    <script>
        let mainSlider = new Splide("#main-slider", {
            width: 600,
            height: 400,
            cover: true,
            arrows: false,
            pagination: false,
            breakpoints : {
                576: {
                    height: 300
                },
              }
        });

        let thumbnails = new Splide( '#thumbnail-slider', {
            fixedWidth  : 100,
            fixedHeight : 60,
            rewind      : true,
            pagination  : false,
            cover       : true,
            isNavigation: true,
            arrows      : true,
            breakpoints : {
              576: {
                fixedWidth : 60,
                fixedHeight: 44,
              },
            }
          } );
        
        mainSlider.sync( thumbnails );
        mainSlider.mount();
        thumbnails.mount();

        function favnotfav(event, id_icone, numero_salvos, id_produto) {
            const url = "/empresas/salva-nao-salva-produto/" + id_produto + "/"
            const icone  = document.getElementById('icone-salvar');
            const textoIcone = document.getElementById('icone-salvar-descricao');

            fetch(url, {
                method: "POST",
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json'
                },
            })
            .then(response => response.json())
            .then(data => {
                if(data.status === 'success'){
                    if(data.message === 'like'){
                        icone.src = "{% static 'images/icone-salvar-fill.svg' %}";
                        textoIcone.innerText = "Salvo";
                    } else {
                        icone.src = "{% static 'images/icone-salvar.svg' %}";
                        textoIcone.innerText = "Salvar";
                    }
                }else{
                    alert('Não foi possível favoritar esse produto, tente novamente mais tarde.');
                }
            })
            .catch(error => {
                alert('Não foi possível favoritar esse produto, tente novamente mais tarde.');
            });
        }
    </script>
    
{% endblock %}