{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/visualizar-produto.css' %}">
{% endblock %}

{% block 'titulo' %}
    Vitrine Digital | Produto
{% endblock %}

{% block 'conteudo'%}
    <main>
        <div class="main-scrollable">

            <a href="{% url 'visualizar_empresa' produto.id_empresa.id %}" class="botao-voltar">
                <img src="{% static 'images/seta-esquerda.svg' %}" alt="Seta para a esquerda">
                <span>Voltar para a loja</span>
            </a>
            
            <div class="apresentacao-produto">
                <div class="imagens">
                    <div class="previas">
                        {% for imagem in imagens %}
                            <img
                                src="{{ imagem.imagem.url }}"
                                alt="Imagem do produto"
                            >
                        {% endfor %}
                    </div>
                </div>
                <div class="especificacoes">
                    <h1>{{ produto.nome }}</h1>
                    <p>{{ produto.descricao }}</p>
                    <span class="preco">R$ {{ produto.preco }}</span>
                    {% if produto.ativo == False  %}
                        <span class="disponibilidade">Indisponível</span>
                    {% elif produto.qtd == 0 %}
                        <span class="disponibilidade">Sem estoque</span>
                    {% else %}
                        <span class="disponibilidade">Disponível</span>
                    {% endif %}
                    <div class="favoritos">
                        <img
                            class="fav-{{produto.id}}"
                            onclick="favnotfav(
                                event,
                                'fav-{{produto.id}}',
                                'fav-number-{{produto.id}}',
                                {{produto.id}}
                            )"
                            {% if favorito_usuario %}
                                src="{% static 'images/icone-salvar-fill.svg' %}"
                            {% else %}
                                src="{% static 'images/icone-salvar.svg' %}"
                            {% endif %}
                            alt="Ícone estrela"
                            style="cursor: pointer;"
                        >
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <script>
        function favnotfav(event, id_icone, numero_salvos, id_produto) {
            event.stopPropagation();
            const url = "/empresas/salva-nao-salva-produto/" + id_produto + "/"
            const icones = document.getElementsByClassName(id_icone);
            fetch(url, {
                method: "POST",
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json'
                },
            })
            .then(response => response.json())
            .then(data => {
                if(data.status === 'success'){
                    for (let i = 0; i < icones.length; i++) {
                        if(data.message === 'like'){
                            icones[i].src = "{% static 'images/icone-salvar-fill.svg' %}";
                        } else {
                            icones[i].src = "{% static 'images/icone-salvar.svg' %}";
                        }
                    }
                }else{
                    alert('Não foi possível favoritar esse produto, tente novamente mais tarde.');
                }
            })
            .catch(error => {
                alert('Não foi possível favoritar esse produto, tente novamente mais tarde.');
            });
        }
    </script>
    
{% endblock %}