.detalhes {
    & .container {

        & .preco-funcionamento {
            display: flex;
            flex-flow: row;
            gap: var(--spc-500);

            @media all and (max-width: 767px){
                flex-flow: column;
            }
            
            & .preco {
                flex: 1;
                display: flex;
                flex-flow: column;
                gap: var(--spc-100);
                justify-content: start;
                
                @media all and (max-width: 767px){
                    flex-flow: row;
                }

                & > div {  
                    flex: 1;
                    display: flex;
                    flex-flow: column;
                    gap: var(--spc-50);
                    
                    & .preco-mensal {
                        font-size: var(--fs-500);
                    }
                    
                    & .preco-anual {
                        font-size: var(--fs-100);
                    }
                }

                & ul {
                    list-style: none;
                    font-size: var(--fs-100);
                }
            }
            
            & .como-funciona {
                flex: 2;
                background-color: #ffffff6b;
                border-radius: 2rem;
                padding: var(--spc-400) var(--spc-500);
            }
        }
    }
}


#form-cadastro {
    & .container {
        background-color: #ffffff6b;
        border-radius: 2rem;

        & form {
            display: flex;
            flex-flow: column;
            align-items: start;
            gap: var(--spc-700);

            & .titulo-campos {
                padding-top: 10px;
                width: 100%;
                display: flex;
                flex-flow: column;
                align-items: start;
                gap: var(--spc-500);

                & .input-wrapper-imagem {

                    & input {

                        display: flex;
                        flex-flow: column;
                        gap: var(--spc-300);
                    }
                }

                & .input-wrapper-categoria {

                    & .form-control {
                        all: unset;
                    }
                }

                & p {
                    font-size: var(--spc-500);
                    font-weight: 500;

                    & > span {
                        font-size: var(--fs-100) !important;
                    }
                }

                & p > span, & label > span {
                    color: red;
                }

                & .conjuntos-campos {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: var(--spc-300);
                    width: 100%;

                    @media screen and (max-width: 800px) {
                        grid-template-columns: repeat(2, 1fr);
                    }
                    
                    @media screen and (max-width: 580px) {
                        grid-template-columns: 1fr;
                    }
                }

                & .categorias {
                    display: flex;
                    flex-flow: column;
                    gap: var(--spc-400);
                
                    & .categorias-itens {
                        display: flex;
                        flex-flow: row wrap;
                        gap: var(--spc-200);
                
                        & .categoria {
                            display: flex;
                            flex-flow: row;
                            gap: var(--spc-90);
                            /* background-color: #ECEAFF; */
                            border-radius: 100vw;
                            padding: var(--spc-80) var(--spc-400);
                            /* border: solid 2px #e8e8e8; */
                            border: solid 1.5px black;
                            cursor: pointer;
                            
                
                            &.selecionado {
                                border-color: rgb(138, 205, 138);
                                background-color: rgb(195, 235, 195);
                                /* border-color: rgb(115, 190, 115); */
                                
                
                                & .img-nao-selecionado {
                                    display: none;
                                }
                
                                & .img-selecionado {
                                    display: block;
                                }
                            }
                
                            &:not(.selecionado) {
                
                                & .img-nao-selecionado {
                                    display: block;
                                }
                    
                                & .img-selecionado {
                                    display: none;
                                }
                            }
                
                            & img {
                                max-width: 1.5rem;
                
                            }
                
                            & span {
                                font-size: var(--fs-100);
                            }
                        }
                    }
                }
            }
            
            & .form-botao {
                align-self: flex-end;
            }
        }
    }
}
