@import url("../../../vitrine_digital/static/css/global.css");
@import url("../../../vitrine_digital/static/css/sidebar.css");
@import url("../../../vitrine_digital/static/css/card.css");
@import url("../../../vitrine_digital/static/css/swiper.css");
@import url("../../../vitrine_digital/static/css/body-main.css");


.main-scrollable {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "item-1 item-1 item-2"
                        "item-3 item-3 item-3";
    gap: var(--spc-400);
                        
    & .item-dashboard {
        background-color: white;
        border-radius: 2rem;
        padding: var(--spc-800) var(--spc-700);
        display: flex;
        flex-flow: column;
        gap: var(--spc-300);

        &.item-dashboard-1 {
            grid-area: item-1;
        }
        &.item-dashboard-2 {
            grid-area: item-2;
        }
        &.item-dashboard-3 {
            grid-area: item-3;
        }
    }

}


