.secao-minhas-empresas {
    padding-top: var(--spc-1000);
    
    & .cabecalho {
        display: flex;
        gap: var(--spc-300);
        justify-content: space-between;

        @media all and (max-width: 500px){
            flex-flow: column;
        }
    }

    & .minhas-empresas-lojista {
        display: flex;
        flex-flow: column;
        gap: var(--spc-500);

        & .card-empresa-faixa {
            width: 100%;
            display: flex;
            /* box-shadow: 0rem 0rem 8rem rgba(0,0,0,0.05); */
            border-radius: 0.8rem;
            max-height: 40rem;
            height: max-content;
            border: 1px solid rgba(0, 0, 0, .125);

            @media all and (max-width: 980px){
                flex-flow: column;
                max-height: 100%;
            }

            & .imagens {
                position: relative;
                height: 100%;

                & .img-capa {
                    /* max-width: 20rem; */
                    border-top-left-radius: 0.8rem;
                    border-bottom-left-radius: 0.8rem;
                    overflow: hidden;
                    aspect-ratio: 3/4;
                    max-height: 30rem;
                    min-height: 100%;
                    
                    @media all and (max-width: 980px){
                        /* width: 100%;
                        height: auto;
                        aspect-ratio: 5/1; */

                        height: 15rem;
                        width: 100%;

                        border-top-left-radius: 0.8rem;
                        border-bottom-left-radius: 0;
                        border-top-right-radius: 0.8rem;
                    }

                    & img {
                        /* max-width: 100%; */

                        height: 100%;
                        min-width: 100%;
                        aspect-ratio: 15/20;
                        object-fit: cover;
                        object-position: 25% 25%;

                        
                    }
                }
                
                & .img-perfil {

                    background-position: 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 100%;
                    aspect-ratio: 1;
                    border-radius: 100vw;
                    overflow: hidden;
                    border: solid 3px #fff;
                    position: absolute;
                    top: 11rem;
                    left: 18rem;
                    width: 8rem;
                    object-fit: cover;
                    object-position: 48%;

                    @media all and (max-width: 980px){
                        transform: none;
                        bottom: 0;
                        left: 0;
                        transform: translate(50%, 50%);
                    }
                    
                    & img {
                        max-width: 100%;
                    }
                }
            }
                
            & .textos-botoes {
                display: flex;
                flex-flow: column;
                height: 100%;
                justify-content: space-between;
                gap: var(--spc-500);
                padding: var(--spc-700);
                padding-left: 8rem;
                width: 100%;

                @media all and (max-width: 980px){
                    padding: var(--spc-700);
                    padding-top: 7rem;
                    gap: var(--spc-700);
                }

                @media all and (max-width: 500px){
                    padding: var(--spc-600);
                    padding-top: 7rem;
                }
                
                & .textos {
                    display: flex;
                    width: 100%;
                    
                    @media all and (max-width: 980px){
                        justify-content: space-between;
                    }

                    @media all and (max-width: 600px){
                        flex-flow: column;
                        gap: var(--spc-300);
                    }
                    
                    & .informacoes {
                        border-right: solid 2px #ccc;
                        padding-right: var(--spc-700);

                        width: 50%;
                        
                        @media all and (max-width: 980px){
                            flex: 1;
                            width: 100%;
                        }

                        @media all and (max-width: 600px){
                            border-right: 0;
                            padding-right: 0;
                            border-bottom: solid 2px #ccc;
                            padding-bottom: var(--spc-400);
                        }

                        & .nome {
                            font-size: var(--fs-300);
                            font-weight: 600;
                            max-width: 20rem;
                            white-space: nowrap;                  
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        & .descricao {
                            font-size: var(--fs-300);
                            font-weight: 600;
                            max-width: 20rem;
                            white-space: nowrap;                  
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        & .categorias {
                            display: flex;
                            flex-flow: row wrap;
                            gap: var(--spc-100);

                            & .categoria {
                                padding: var(--spc-50) var(--spc-100);
                                background-color: #f8e9ff;
                                border-radius: 0.4rem;
                                color: #c341ff;
                                height: max-content;
                                font-size: var(--fs-50);
                            }
                        }
                        
                    }
                    
                    & .dados {
                        padding-left: var(--spc-500);

                        width: 50%;
                        
                        @media all and (max-width: 980px){
                            flex: 1;
                            width: 100%;
                        }

                        @media all and (max-width: 600px){
                            padding-left: 0;
                        }
                    }
                }

                & .botoes {
                    display: flex;
                    gap: var(--spc-100);
                    
                    @media all and (max-width: 500px){
                        flex-flow: column;
                        max-width: 20rem;
                        align-items: center;
                    }

                    & a {
                        align-self: start;

                        @media all and (max-width: 500px){
                            max-width: 10rem;
                            max-width: none;
                        }

                        &.botao-produtos {
                            background-color: #FCEAED;
                        }

                        &.botao-editar, &.botao-excluir {
                            background-color: #F8F9FA;
                        }
    
                    }
                }
            }
        }
    }

}



