.main-scrollable {
    padding: 0 !important;
    gap: var(--spc-400);
    
    & .perfil {
        padding: 0;
        position: relative;    

        .div-img-capa {
            width: 100%;
            min-height: 20rem;
            max-height: 20rem;
            overflow: hidden;

            .img-capa {
                height: 100%;
                min-width: 100%;
                aspect-ratio: 15/20;
                object-fit: cover;
                object-position: 25% 25%;
            }
        }

        .div-img-perfil-visualizacao-empresa-usuario {
            min-width: 150px;
            min-height: 150px;
            width: 150px;
            height: 150px;
            overflow: hidden;
            position: relative;
            bottom: 9rem;
            left: 6rem;
            border: 3px solid rgb(239, 228, 255);
            border-radius: 15px;

            .img-perfil-visualizacao-empresa-usuario {
                width: 125%;
                height: 125%;
                top: -15%;
                left: -15%;
                object-fit: cover;
            }
        }

        & .informacoes {
            display: flex;
            justify-content: space-between;
            gap: var(--spc-600);
            padding: 0 var(--spc-900);
            margin-top: -80px;

            @media all and (max-width: 650px){
                flex-flow: column;
                align-items: flex-start;
            }

            & .nome-categorias {
                display: flex;
                flex-flow: column;
                gap: var(--spc-300);

                & .categorias {
                    display: flex;
                    flex-flow: row wrap;
                    gap: var(--spc-80);
                    font-size: var(--fs-100);

                    & span {
                        background-color: #e0e0e0;
                        padding: var(--spc-50) var(--spc-100);
                        border-radius: 0.5rem;
                    }
                }
            }

            & .endereco-contato {
                display: flex;
                flex-flow: column;
                /* gap: var(--spc-400); */

                & .endereco {
                    display: flex;
                    flex-flow: column;
                    gap: var(--spc-50);
                    border-bottom: solid 2px #ccc;
                    padding-bottom: var(--spc-100);
                    
                    & div {
                        display: flex;
                        justify-content: flex-end;

                        @media all and (max-width: 650px){
                            justify-content: flex-start;
                        }

                        & span {
                            width: max-content;
                        }
                    }
                }

                & .contato {
                    display: flex;
                    flex-flow: column;
                    gap: var(--spc-50);
                    align-items: flex-end;
                    padding-top: var(--spc-100);
                    padding-bottom: 1rem;

                    @media all and (max-width: 650px){
                        align-items: flex-start;
                    }

                    & span {
                        width: max-content;
                    }
                }

                & .redes-sociais {
                    display: flex;
                    flex-flow: row;
                    gap: var(--spc-50);
                    justify-content: space-evenly;
                    padding-top: 1rem;
                    border-top: solid 2px #ccc;
                }
            }
        }
    }

    & .produtos {
        display: flex;
        flex-flow: column;
        gap: var(--spc-900);
        padding: var(--spc-600) var(--spc-900);
        padding-top: 0;

        & .todos {
            width: 100%;
            display: flex;
            flex-flow: column;
            gap: var(--spc-400);

            & .todos-produtos {
                display: flex;
                flex-flow: row wrap;
                gap: 1rem 3rem;
            }
        }
    }
}

        
    
