.main-scrollable {
    padding: 0 !important;
    
    & .perfil {
        padding: 0;
        position: relative;    

        & .div-img-capa {
            width: 100%;
            max-height: 20rem;
            overflow: hidden;

            & .img-capa {
                height: 100%;
                min-width: 100%;
                aspect-ratio: 15/20;
                object-fit: cover;
                object-position: 25% 25%;
            }
        }

        & .img-perfil {
            max-width: 10rem;
            position: absolute;
            top: 15rem;
            left: 5rem;
            border: solid 4px #fff;
        }

        & .informacoes {
            display: flex;
            justify-content: space-between;
            gap: var(--spc-600);
            padding: var(--spc-900);
            padding-bottom: var(--spc-600);
            padding-top: var(--spc-1000);

            @media all and (max-width: 650px){
                flex-flow: column;
                align-items: flex-start;
            }

            & .nome-categorias {
                display: flex;
                flex-flow: column;
                gap: var(--spc-300);

                & .categorias {
                    display: flex;
                    flex-flow: row wrap;
                    gap: var(--spc-80);
                    font-size: var(--fs-100);

                    & span {
                        background-color: #e0e0e0;
                        padding: var(--spc-50) var(--spc-100);
                        border-radius: 0.5rem;
                    }
                }
            }

            & .endereco-contato {
                display: flex;
                flex-flow: column;
                /* gap: var(--spc-400); */

                & .endereco {
                    display: flex;
                    flex-flow: column;
                    gap: var(--spc-50);
                    border-bottom: solid 2px #ccc;
                    padding-bottom: var(--spc-100);
                    
                    & div {
                        display: flex;
                        justify-content: flex-end;

                        @media all and (max-width: 650px){
                            justify-content: flex-start;
                        }

                        & span {
                            width: max-content;
                        }
                    }
                }

                & .contato {
                    display: flex;
                    flex-flow: column;
                    gap: var(--spc-50);
                    align-items: flex-end;
                    padding-top: var(--spc-100);

                    @media all and (max-width: 650px){
                        align-items: flex-start;
                    }

                    & span {
                        width: max-content;
                    }
                }
            }
        }
    }

    & .produtos {
        display: flex;
        flex-flow: column;
        gap: var(--spc-900);
        padding: var(--spc-600) var(--spc-900);

        & .destaques {
            width: 100%;
            display: flex;
            flex-flow: column;
            gap: var(--spc-400);

            & .carrossel {
                display: grid;
                grid-auto-flow: column;
                scroll-behavior: auto;
                gap: var(--spc-300);
                overflow-y: auto;
                overscroll-behavior-x: contain;
                scroll-snap-type: x mandatory;
                scrollbar-width: none;
                /* grid-template-columns: repeat(auto-fit, minmax(25rem, 25rem)); */
                justify-content: start;
                /* width: max-content; */

                &::-webkit-scrollbar {
                    display: none;
                }

                & .card {
                    scroll-snap-align: start;
                }
            }
        }

        & .todos {
            width: 100%;
            display: flex;
            flex-flow: column;
            gap: var(--spc-400);

            & .todos-produtos {
                display: flex;
                flex-flow: row wrap;
                gap: var(--spc-300);
            }
        }
    }
}

        
    
