<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/recuperacao-senha.css">
</head>
<body>
    <header></header>
    <main>
        <div class="titulo-texto">
            <h2>Senha alterada com sucesso!</h2>
            <p>Realize o login com a sua nova senha.</p>
            <a href="">Voltar para o login</a>
        </div>
    </main>
</body>
</html>