<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/recuperacao-senha.css">
</head>
<body>
    <header></header>
    <main>
        <div class="titulo-texto">
            <h2>Recuperação de senha enviada</h2>
            <p>Te enviamos um e-mail com instruções para configurar sua senha, se uma conta existe com o e-mail fornecido. Você receberá uma mensagem em breve.</p>
            <p>Se não receber um e-mail, certifique-se de que você forneceu um endereço já cadastrado, e verifique sua pasta de spam.</p>
        </div>
    </main>
</body>
</html>