<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-conteudo">
        <main>
            <div class="main-scrollable">
                <h1>Cadastrar minha empresa</h1>

                <div>
                    <h2>Como funciona?</h2>
                    <p>O cadastro de até 10 empresas por usuário no VITRISSE pode ser feito mediante um único pagamento de:</p>
                    <div>R$ 19,90 <span>/mês</span></div>
                    <div><span>ou</span>R$ 199,90 <span>/ano (economia de 38,90)</span></div>
                    
                    <p>Preenchendo o <a href="">formulário de cadastro</a> com informações da sua empresa, você vai receber um e-mail com informações de pagamento. Feito o pagamento, o perfil da sua loja estará disponível no VITRISSE em até 24 horas.</p>

                    
                </div>
            </div>
        </main>
    </div>
</body>
</html>