{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/explicacao-cadastro-empresa.css' %}">
{% endblock %}

{% block 'titulo' %}
    Vi²Mu | Sobre o cadastro de empresas
{% endblock %}

{% block 'conteudo' %}
    <main>
        <section class="secao">
            <div class="container">
                <h1>Cadastrar minha empresa</h1>
                <div class="como-funciona">
                    <h2>Como funciona?</h2>
                    <p>Para cadastrar sua empresa no <span class="logo-text">Vi²Mu</span>, é necessário primeiramente ter o seu próprio cadastro, que pode ser feito clicando <a href="{% url 'cadastro' %}">aqui</a>. Logo após, você poderá solicitar um perfil de comerciante e começar a cadastrar empresas.</p>
                    <p>O cadastro de até 10 empresas por usuário no <span class="logo-text">Vi²Mu</span> pode ser feito mediante um único pagamento de:</p>

                    <span class="preco">
                        <span class="mes-ou"><span class="preco-mes">R$ 19,90 /mês</span> <span class="ou">ou</span> </span>
                        <span class="ano-economia">
                            <span class="preco-ano"> R$ 199,90 /ano </span>
                            <span class="economia">(economia de R$38,90)</span>
                        </span>
                    </span>

                    <a href="{% url 'cadastro' %}" class="botao">Cadastrar-se</a>
                </div>
            </div>
        </section>
    </main>
           
{% endblock %}