<!-- {% extends 'base.html' %}

{% block 'titulo' %}Login{% endblock %}

{% block 'conteudo' %} -->

<link rel="stylesheet" href="../../dashboards/static/css/style.css" />
<!-- mudar de lugar depois -->
<link rel="stylesheet" href="../static/css/style.css" />


    <main>
        <a href="" class="icone-voltar">
            <img src="../static/images/seta.svg" alt="Ícone de seta, voltar" />
        </a>
        <section>
            <div class="container container-login">
                <!-- {% if messages %}
                    {% for i in messages %}
                        <div class="alert {{i.tags}}" role="alert">
                            {{i}}
                        </div>
    
                    {% endfor %}
                {% endif %} -->

                <h1>Logar</h1>

                <form method="POST" action="{% url 'valida_login' %}">
                    <!-- {% csrf_token %} -->
                    <div class="input-wrapper">
                        <label>Email:</label>
                        <div class="icone-input">
                            <img
                                src="../static/images/email.svg"
                                alt="Ícone de e-mail"
                            />
                            <input
                                name="email"
                                class="form-control"
                                type="email"
                                placeholder="Email"
                            />
                        </div>
                    </div>

                    <div class="senha">
                        <div class="input-wrapper">
                            <label>Senha:</label>
                            <div class="icone-input">
                                <img
                                    src="../static/images/cadeado.svg"
                                    alt="Ícone de cadeado"
                                />
                                <input
                                    name="senha"
                                    class="form-control"
                                    type="password"
                                    placeholder="Senha"
                                />
                            </div>
                        </div>
                        <div><a href="">Esqueci minha senha</a></div>
                    </div>

                    <input
                        class="botao"
                        type="submit"
                        value="Enviar"
                    />

                </form>

                <div class="mudar-login-cadastro">
                    <p>
                        Ainda não tem uma conta?
                        <a href="{% url 'cadastro' %}" class="btn btn-info btn-lg"
                            >Cadastre-se</a
                        >
                    </p>
                </div>
            </div>
        </section>
    </main>


<!-- {% endblock %} -->
