{% extends 'base.html' %}

{% block 'titulo' %}Login{% endblock %}

{% block 'conteudo' %}

<div class="container">
    <br>

    {% if messages %}
        {% for i in messages %}   
            <div class="alert {{i.tags}}" role="alert">
                {{i}} 
            </div>

        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>Logar</h1>
            <hr>
            <form
                method="POST"
                action="{% url 'valida_login' %}"
            >
                {% csrf_token %}
                <label>Email:</label>
                <br>
                {{ form.email }}
                <br>
                <label>Senha:</label>
                <br>
                {{ form.password }}
                <br>
            </form>
            <br>
            <a href="{% url 'cadastro' %}" class="btn btn-info btn-lg">Não tem login? Cadastre-se</a>
        </div>
    </div>
</div>

{% endblock %}