<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitrine Digital | Lojas favoritas</title>
    <link rel="stylesheet" href="../static/css/favoritas-salvos.css">
</head>
<body>
    <div class="container-inicio">
        <aside id="sidebar">
            <input type="checkbox" id="toggler">
            <label for="toggler" class="toggle-btn">
                <img src="../static/images/icone-grid.svg" alt="">
                <span>Vitrine Digital</span>
            </label>
            <form action="#" class="search-bar">
                <span class="search-icon">
                    <img src="../static/images/icone-lupa.svg" alt="">
                </span>
                <input type="text" class="search-query" placeholder="Search...">
            </form>

            <!-- sidebar navigation begins -->
             <ul class="sidebar-nav">
                <div class="sidebar-nav-items">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <img src="../static/images/icone-estrela.svg" alt="">
                            <span>Lojas favoritas</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <img src="../static/images/icone-salvar.svg" alt="">
                            <span>Produtos salvos</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <img src="../static/images/icone-lupa.svg" alt="">
                            <span>Pesquisar lojas</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <img src="../static/images/icone-maleta.svg" alt="">
                            <span>Para lojas</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <img src="../static/images/icone-configuracoes.svg" alt="">
                            <span>Configurações</span>
                        </a>
                    </li>
                </div>
             </ul>
             <!-- sidebar navigation ends -->
                <div class="sidebar-footer">
                <div class="sidebar-footer-items">
                    <a href="#" class="sidebar-link profile-btn">
                        <div class="sidebar-profile-pic"></div>
                        <span>Meu perfil</span>
                    </a>
                    <a href="#" class="sidebar-link my-companies-btn">
                        <img src="../static/images/icone-maleta.svg" alt="">
                        <span>Minhas empresas</span>
                    </a>
                </div>
              </div>
        </aside>

        <main>
            <div class="main-scrollable">
                <div class="modal-confirmacao">
                    <div class="fundo-modal-confirmacao">
                    </div>
                    <div class="conteudo-modal-confirmacao">
                        <p>Tem certeza de que deseja excluir a NOME DA LOJA !!!!!!!!!!!!!1 da sua lista de favoritos?</p>
                        <div class="botoes-confirmacao">
                            <button class="botao-sim">Sim</button>
                            <button class="botao-cancelar">Cancelar</button>
                        </div>
                    </div>
                </div>

                <section>
                    <div class="cabecalho">
                        <h1>Suas lojas favoritas</h1>
                        <button class="botao-editar">Editar</button>
                    </div>
                
                    <div class="todos-cards">


                        <!-- se não tiver nenhuma favoritada: -->
                        <!-- <p>Suas lojas favoritas aparecerão aqui</p>
                        <a href="../../dashboards/templates/pesquisar-lojas.html">Explorar lojas</a> -->

                        <div class="card-botao">
                            <button class="botao-excluir"><img src="../../vitrine_digital/static/images/icone-x.svg" alt=""></button>
                            <div class="card card-empresa">
                                <div class="img-perfil"></div>
                                <div class="img-capa"></div>
                                <div class="textos">
                                    <p class="nome">Nome da empresa</p>
                                    <p class="descricao">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam incidunt maxime quidem! Necessitatibus repudiandae veritatis nisi quis. Incidunt alias natus dignissimos sed ratione atque, temporibus, quod expedita sit earum quis.
                                    </p>
                                    <div class="categoria-favoritos">
                                        <div class="categoria">Categoria</div>
                                        <div class="favoritos">
                                            <img src="../../vitrine_digital/static/images/icone-estrela.svg" alt="Ícone estrela">
                                            <span>1.3K</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-botao">
                            <button class="botao-excluir"><img src="../../vitrine_digital/static/images/icone-x.svg" alt=""></button>
                            <div class="card card-empresa">
                                <div class="img-perfil"></div>
                                <div class="img-capa"></div>
                                <div class="textos">
                                    <p class="nome">Nome da empresa</p>
                                    <p class="descricao">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam incidunt maxime quidem! Necessitatibus repudiandae veritatis nisi quis. Incidunt alias natus dignissimos sed ratione atque, temporibus, quod expedita sit earum quis.
                                    </p>
                                    <div class="categoria-favoritos">
                                        <div class="categoria">Categoria</div>
                                        <div class="favoritos">
                                            <img src="../../vitrine_digital/static/images/icone-estrela.svg" alt="Ícone estrela">
                                            <span>1.3K</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                
                </section>
            </div>
            
        </main>
    </div>

    <script src="../static/js/remover-favs-salvos.js"></script>
</body>
</html>