{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/meus-dados-usuario.css' %}">
{% endblock %}

{% block 'titulo' %}
    Vi²Mu | Lojas favoritas
{% endblock %}

{% block 'conteudo'%}
    <main>
        <div class="main-scrollable">
            <section class="secao dados-usuario">
                {% if messages %}
                    {% for i in messages %}
                        <div class="alert {{i.tags}}" role="alert">
                            {{i}}
                        </div>
                    {% endfor %}
                {% endif %}
                <div>
                    <img
                        class="sidebar-profile-pic rounded-circle"
                        src="{{ user.imagem.url }}"
                        alt="Sua imagem de perfil"
                        height="124px"
                        width="124px"
                    >
                </div>
                <div class="dados">
                    <div class="cabecalho">
                        <h2>Seus dados</h2>
                    </div>
                    <form
                        method="POST"
                        action="{% url 'meus_dados_usuario' %}"
                        enctype="multipart/form-data"
                    >
                        {% csrf_token %}
                        <div class="input-wrapper">
                            <label>Primeiro nome</label>
                            <div class="nome">
                                <input disabled value="{{ first_name }}"/>
                            </div>
                        </div>
                        <div class="input-wrapper">
                            <label>Último nome</label>
                            <div class="nome">
                                <input disabled value="{{ last_name }}"/>
                            </div>
                        </div>
                        <div class="input-wrapper">
                            <label>E-mail</label>
                            <div class="email">
                                <input disabled value="{{ email }}"/>
                            </div>
                        </div>
                        <div class="input-wrapper">
                            <label>CPF</label>
                            <div class="cpf">
                                <input disabled value="{{ cpf }}"/>
                            </div>
                        </div>
                        <div class="input-wrapper input-wrapper-imagem">
                            <label>Imagem de perfil</label>
                            <div>
                                {{ form.imagem }}
                                {% if form.imagem.errors %}
                                    <div>
                                        {% for error in form.imagem.errors %}
                                            <div>
                                                <strong>{{ error }}</strong>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <h3>Quer alterar sua senha?</h3>
                        <div class="input-wrapper">
                            <label>Nova senha:</label>
                            <div class="senha">
                                {{ form.password }}
                                {% if form.password.errors %}
                                    <div>
                                        {% for error in form.password.errors %}
                                            <div>
                                                <strong>{{ error }}</strong>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="input-wrapper">
                            <label>Confirmar nova senha:</label>
                            <div class="senha">
                                {{ form.confirm_password }}
                                {% if form.confirm_password.errors %}
                                    <div>
                                        {% for error in form.confirm_password.errors %}
                                            <div>
                                                <strong>{{ error }}</strong>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <h3>Sua busca de empresas será baseada na cidade abaixo:</h3>
                        <div class="input-wrapper">
                            <label>Estado</label>
                            <div class="estado">
                                {{ form.estado }}
                                {% if form.estado.errors %}
                                    <div>
                                        {% for error in form.estado.errors %}
                                            <div>
                                                <strong>{{ error }}</strong>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="input-wrapper">
                            <label>Cidade</label>
                            <div class="cidade">
                                {{ form.cidade }}
                                {% if form.cidade.errors %}
                                    <div>
                                        {% for error in form.cidade.errors %}
                                            <div>
                                                <strong>{{ error }}</strong>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <button class="botao" type="submit">Enviar</button>
                    </form>
                </div>
            </section>
        </div>  
    </main>
    <script>
        
        document.addEventListener("DOMContentLoaded", function () {
            const idEstadoSelecionado = {{ estado_selecionado|default:"null" }};
            const idCidadeSelecionada = {{ cidade_selecionada|default:"null" }};
            const selectEstado = document.querySelector("#estado");
            const selectCidade = document.querySelector("#cidade");

            if (idEstadoSelecionado) {
                selectEstado.value = idEstadoSelecionado;
            }
            
            const url = `/empresas/busca-cidades-por-estado/${selectEstado.value}`;
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    selectCidade.innerHTML = '<option value="">Escolha uma cidade...</option>';
                    for (const cidade of data.message) {
                        const option = document.createElement("option");
                        option.value = cidade.id;
                        option.text = cidade.descricao;
                        if (cidade.id == idCidadeSelecionada) {
                            option.selected = true;
                        }
                        selectCidade.appendChild(option);
                    }
                });
            
        
            selectEstado.addEventListener("change", function () {
                const url = `/empresas/busca-cidades-por-estado/${this.value}`;
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        selectCidade.innerHTML = '<option value="">Escolha uma cidade...</option>';
                        for (const cidade of data.message) {
                            const option = document.createElement("option");
                            option.value = cidade.id;
                            option.text = cidade.descricao;
                            selectCidade.appendChild(option);
                        }
                    });
            });
        });
    </script>
{% endblock %}