{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/meus-dados-usuario.css' %}">
{% endblock %}

{% block 'titulo' %}
    Vitrine Digital | Lojas favoritas
{% endblock %}

{% block 'conteudo'%}
    <main>
        <div class="main-scrollable">
            <section class="dados">
                <div class="cabecalho">
                    <h2>Seus dados</h2>
                    <button>Editar</button>
                </div>

                <img class="img-perfil" src="{% static 'images/img-perfil-exemplo.jpeg' %}" alt="">
                <span class="nome">Nome</span>
                <span class="cpf">000.000.000-00</span>
                <span class="email">email@gmail.com</span>
                <span class="senha">***********</span>
            </section>
        </div>
    </main>

{% endblock %}