{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/favoritas-salvos.css' %}">
{% endblock %}

{% block 'titulo' %}
    Vi²Mu | Produtos salvos
{% endblock %}

{% block 'conteudo'%}
    <main>
        <div class="main-scrollable">
            <section class="secao">
                {% if messages %}
                    {% for i in messages %}   
                        <div class="alert {{i.tags}}" role="alert">
                            {{i}} 
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="cabecalho">
                    <h1>Seus produtos salvos</h1>
                </div>
                <div class="grid-produtos-empresas">
                    {% for produto in produtos %}
                        <div
                            class="card card-produto card-produto-usuario card-produto-usuario-visualizar"
                            onclick="window.location.href='{% url 'visualizar_produto' produto.id %}'"
                            style="cursor: pointer;"
                        >
                            <div class="moving-container">
                                {% if produto.primeira_imagem %}
                                    <img
                                        src="{{ produto.primeira_imagem.url }}"
                                        alt="imagem capa produto {{ produto.descricao }}"
                                    >
                                {% else %}
                                    <img
                                        src="{{ produto.primeira_imagem_default }}"
                                        alt="imagem capa produto {{ produto.descricao }}"
                                    >
                                {% endif %}
                            </div>
                            <div class="informacoes-botoes">
                                <div class="tudo-menos-cat">
                                    <div>
                                        <div class="nome">{{ produto.nome }}</div>
                                        <div class="descricao">{{ produto.descricao }}</div>
                                        <div
                                            class="
                                                d-flex
                                                justify-content-between
                                                align-items-center
                                                mt-2 mb-3
                                            "
                                        >
                                            <div>
                                                {% if produto.ativo == False  %}
                                                    <span class="disponibilidade indisponivel">Indisponível</span>
                                                {% elif produto.qtd == 0 %}
                                                    <span class="disponibilidade sem-estoque">Sem estoque</span>
                                                {% else %}
                                                    <span class="disponibilidade disponivel">Disponível</span>
                                                {% endif %}
                                            </div>
                                            <div>
                                                {% if produto.porcentagem_desconto %}
                                                    <span
                                                        class="disponibilidade tag-oferta"
                                                    >
                                                        {{ produto.porcentagem_desconto }}% OFF
                                                    <span>
                                                {% endif %}
                                            </div>
                                            <div class="favoritos">
                                                <img
                                                    class="fav-{{produto.id}}"
                                                    onclick="favnotfavproduct(
                                                        event,
                                                        'fav-{{produto.id}}',
                                                        'fav-number-{{produto.id}}',
                                                        {{produto.id}}
                                                    )"
                                                    {% if produto.favorito_usuario %}
                                                        src="{% static 'images/icone-salvar-fill.svg' %}"
                                                    {% else %}
                                                        src="{% static 'images/icone-salvar.svg' %}"
                                                    {% endif %}
                                                    alt="Ícone salvar"
                                                    style="cursor: pointer;"
                                                >
                                            </div>
                                        </div>
                                        <div class="categorias">
                                            {% for categoria in produto.categorias|slice:":4" %}
                                                <div class="categoria">{{ categoria.descricao }}</div>
                                            {% endfor %}
                                            {% if produto.categorias|length > 4  %}
                                                ... 
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div
                                        class="h-100 align-content-center"
                                    >
                                        <div class="preco-salvar">
                                            {% if produto.preco_oferta %}
                                                <div class="preco">
                                                    Valor: 
                                                    <s>
                                                        R$
                                                        {{ produto.preco }}
                                                    </s>
                                                </div>
                                                <div class="preco preco-oferta">
                                                    Promo: 
                                                    R$
                                                    {{ produto.preco_oferta }}
                                                </div>
                                            {% else %}
                                                <div class="preco">
                                                    Valor: 
                                                    R$
                                                    {{ produto.preco }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p>Você não salvou nenhum produto.</p>
                    {% endfor %}
                </div>
            </section>
        </div>
    </main>

<script>
    function favnotfav(event, id_icone, numero_salvos, id_produto) {
        event.stopPropagation();
        const url = "/empresas/salva-nao-salva-produto/" + id_produto + "/"
        const icones = document.getElementsByClassName(id_icone);
        fetch(url, {
            method: "POST",
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            },
        })
        .then(response => response.json())
        .then(data => {
            if(data.status === 'success'){
                for (let i = 0; i < icones.length; i++) {
                    if(data.message === 'like'){
                        icones[i].src = "{% static 'images/icone-salvar-fill.svg' %}";
                    } else {
                        icones[i].src = "{% static 'images/icone-salvar.svg' %}";
                    }
                }
            }else{
                alert('Não foi possível favoritar esse produto, tente novamente mais tarde.');
            }
        })
        .catch(error => {
            alert('Não foi possível favoritar esse produto, tente novamente mais tarde.');
        });
    }
</script>

{% endblock %}