{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/favoritas-salvos.css' %}">
{% endblock %}

{% block 'titulo' %}
    Vitrine Digital | Produtos salvos
{% endblock %}

{% block 'conteudo'%}
<main>
    <div class="main-scrollable">
        {% if messages %}
            {% for i in messages %}   
                <div class="alert {{i.tags}}" role="alert">
                    {{i}} 
                </div>
            {% endfor %}
        {% endif %}

    <section>
        <div class="cabecalho">
            <h1>Seus produtos salvos</h1>
        </div>
        <div class="todos-cards">
            {% for produto in produtos %}
                <div
                    class="card card-produto"
                    onclick="window.location.href='{% url 'visualizar_produto' produto.id_empresa produto.id %}'"
                    style="cursor: pointer;"
                >
                    <div>
                        <img
                            class="img-capa"
                            src="{{ produto.primeira_imagem.url }}"
                            alt="imagem capa produto {{ produto.descricao }}"
                        >
                    </div>
                    <div class="textos">
                        <p>{{ produto.nome }}</p>
                        <p class="descricao">{{ produto.descricao }}</p>
                        <div class="loja">
                            <div>
                                <img
                                    class="img-loja"
                                    src="{{ produto.empresa_imagem.url }}"
                                    alt="imagem perfil empresa{{ produto.descricao }}"
                                >
                            </div>
                            <span class="nome-loja">{{ produto.nome_empresa }}</span>
                        </div>
                        <div class="preco-disponibilidade">
                            <div class="preco">R$ {{ produto.preco }}</div>
                        </div>
                        <div class="categoria-favoritos">
                            {% for categoria in produto.categorias %}
                                <div class="categoria">{{ categoria.descricao }}</div>
                            {% endfor %}
                            <div class="favoritos">
                                <img
                                    class="fav-{{produto.id}}"
                                    onclick="favnotfav(
                                        event,
                                        'fav-{{produto.id}}',
                                        'fav-number-{{produto.id}}',
                                        {{produto.id}}
                                    )"
                                    {% if produto.favorito_usuario %}
                                        src="{% static 'images/icone-salvar-fill.svg' %}"
                                    {% else %}
                                        src="{% static 'images/icone-salvar.svg' %}"
                                    {% endif %}
                                    alt="Ícone estrela"
                                    style="cursor: pointer;"
                                >
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>Você não salvou nenhum produto.</p>
            {% endfor %}
        </div>
    </section>
</main>

<script>
    function favnotfav(event, id_icone, numero_salvos, id_produto) {
        event.stopPropagation();
        const url = "/empresas/salva-nao-salva-produto/" + id_produto + "/"
        const icones = document.getElementsByClassName(id_icone);
        fetch(url, {
            method: "POST",
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            },
        })
        .then(response => response.json())
        .then(data => {
            if(data.status === 'success'){
                for (let i = 0; i < icones.length; i++) {
                    if(data.message === 'like'){
                        icones[i].src = "{% static 'images/icone-salvar-fill.svg' %}";
                    } else {
                        icones[i].src = "{% static 'images/icone-salvar.svg' %}";
                    }
                }
            }else{
                alert('Não foi possível favoritar esse produto, tente novamente mais tarde.');
            }
        })
        .catch(error => {
            alert('Não foi possível favoritar esse produto, tente novamente mais tarde.');
        });
    }
</script>

{% endblock %}