<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/recuperacao-senha.css">
</head>
<body>
    <header></header>
    <main>
        <div class="titulo-texto">
            <h2>Registrar nova senha</h2>
            <p>Preencha o campo abaixo com uma nova senha da sua escolha.</p>
        </div>

        <form action="">

            <div class="input-wrapper">
                <label>Senha</label>
                <input type="password">
            </div>

            <button type="submit">Registrar nova senha</button>
        </form>
    </main>
</body>
</html>